# <img style="float: left; padding-right: 10px; width: 45px" src="https://github.com/Harvard-IACS/2018-CS109A/blob/master/content/styles/iacs.png?raw=true"> CS109A Introduction to Data Science 

## Lab 2: Pandas and Web Scraping with Beautiful Soup

**Harvard University**<br>
**Fall 2019**<br>
**Instructors:** Pavlos Protopapas, Kevin Rader, and Chris Tanner<br>
**Lab Instructors:** Chris Tanner and Eleni Kaxiras <br>
**Authors:** Rahul Dave, David Sondak, Will Claybaugh, Pavlos Protopapas, Chris Tanner, Eleni Kaxiras

---

In [3]:
## RUN THIS CELL TO GET THE RIGHT FORMATTING 
from IPython.core.display import HTML
def css_styling():
    styles = open("/Users/emma/Documents/Data_Science/Harvard_course/2019-CS109A/content/styles/cs109.css", "r").read()
    return HTML(styles)
css_styling()

# Table of Contents 
<ol start="0">
<li> Learning Goals </li>
<li> Loading and Cleaning with Pandas</li>
<li> Parsing and Completing the Dataframe  </li>
<li> Grouping </li>
</ol>

## Learning Goals

About 6,000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, ancoded as `NaN` values in our data set, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Use groupby to aggregate data on a particular feature column, such as author.

*This lab corresponds to lectures #1, #2, and #3 and maps on to homework #1 and further.*

### Basic EDA workflow

(From the lecture, repeated here for convenience).

The basic workflow is as follows:

1. **Build** a DataFrame from the data (ideally, put all data in this object)
2. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
3. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas 
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning. 

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Let us see what issues we find with the data and resolve them.  



----




After loading appropriate libraries

In [113]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

### Cleaning: Reading in the data
We read in and clean the data from `goodreads.csv`.

In [114]:
#Read the data into a dataframe
df = pd.read_csv("/Users/emma/Documents/Data_Science/Harvard_course/2019-CS109A/content/labs/lab02/data/goodreads.csv", encoding='utf-8')

#Examine the first few rows of the dataframe
df

      4.40 136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html  2958974            The Hunger Games (The Hunger Games, #1)
0     4.41  16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478  Harry Potter and the Order of the Phoenix (Har...
1     3.56  85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564                            Twilight (Twilight, #1)
2     4.23  47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123                              To Kill a Mockingbird
3     4.23  34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992                                Pride and Prejudice
4     4.25  12363  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470                                 Gone with the Wind
...    ...    ...         ...              ...                                                ...               ...                                                ...                                                                                                                                                                                                                                                   ...      ...                                                ...
5994  4.17   2226  0767913736  good_reads:book  https://www.goodreads.com/author/show/44565.Ca...            2005.0  /genres/history|/genres/non-fiction|/genres/bi...                                                                                                                                                                                                                   dir60/78508.The_River_of_Doubt.html    16618                                 The River of Doubt
5995  3.99    775  1416909427  good_reads:book  https://www.goodreads.com/author/show/151371.J...            2006.0  /genres/young-adult|/genres/realistic-fiction|...                                                                                                                                                                                                                                dir60/259068.Shug.html     6179                                               Shug
5996  3.78    540  1620612321  good_reads:book  https://www.goodreads.com/author/show/5761314....            2012.0  /genres/contemporary|/genres/romance|/genres/y...                                                                                                                                                                                                                            dir60/13503247-flawed.html     2971                                             Flawed
5997  3.91    281         NaN  good_reads:book  https://www.goodreads.com/author/show/1201952....            2006.0  /genres/religion|/genres/islam|/genres/religio...                                                                                                                                                                                                                                    dir60/2750008.html     3083              Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ

5998  4.35     61  0786929081  good_reads:book  https://www.goodreads.com/author/show/1023510....            2001.0  /genres/fiction|/genres/fantasy|/genres/magic|...                                                                                                                                                                                                     dir60/66677.Legacy_of_the_Drow_Collector_s_Edi...     3982  Legacy of the Drow Collector's Edition (Legacy...

[5999 rows x 10 columns]

Oh dear. That does not quite seem to be right. We are missing the column names. We need to add these in! But what are they?

Here is a list of them in order:

`["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

<div class="exercise"><b>Exercise</b></div>
Use these to load the dataframe properly! And then "head" the dataframe... (you will need to look at the read_csv docs)

In [115]:
# your code here
df=pd.read_csv("/Users/emma/Documents/Data_Science/Harvard_course/2019-CS109A/content/labs/lab02/data/goodreads.csv", header=None,
               names=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'],
)

#Examine the first few rows of the dataframe
df.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

### Cleaning: Examing the dataframe - quick checks

We should examine the dataframe to get a overall sense of the content. 

<div class="exercise"><b>Exercise</b></div>
Lets check the types of the columns. What do you find?

In [9]:
# your code here
####### 
df.dtypes
#######

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

*your answer here*

Notice that `review_count` and `rating_counts` are objects instead of ints, and the `year` is a float!

There are a couple more quick sanity checks to perform on the dataframe.

In [10]:
print(df.shape)
df.columns

(6000, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

### Cleaning: Examining the dataframe - a deeper look

Beyond performing checking some quick general properties of the data frame and looking at the first $n$ rows, we can dig a bit deeper into the values being stored. If you haven't already, check to see if there are any missing values in the data frame.

Let's see for a column which seemed OK to us.

In [116]:
#Get a sense of how many missing values there are in the dataframe.
print(np.sum([df.rating.isnull()]))
print(np.sum([df.review_count.isnull()]))
print(np.sum([df.isbn.isnull()]))
print(np.sum([df.booktype.isnull()]))
print(np.sum([df.author_url.isnull()]))
print(np.sum([df.year.isnull()]))
print(np.sum([df.genre_urls.isnull()]))
print(np.sum([df.dir.isnull()]))
print(np.sum([df.rating_count.isnull()]))
print(np.sum([df.name.isnull()]))

2
0
475
0
0
7
62
0
0
0

In [12]:
#Try to locate where the missing values occur
df[df.rating.isnull()]

      rating review_count  isbn booktype author_url  year genre_urls                              dir rating_count  name
3643     NaN         None  None     None       None   NaN        NaN  dir37/9658936-harry-potter.html         None  None
5282     NaN         None  None     None       None   NaN        NaN     dir53/113138.The_Winner.html         None  None

How does `pandas` or `numpy` handle missing values when we try to compute with data sets that include them?

In [17]:
np.mean(df.rating)

4.042200733577858

We'll now check if any of the other suspicious columns have missing values.  Let's look at `year` and `review_count` first.

One thing you can do is to try and convert to the type you expect the column to be. If something goes wrong, it likely means your data are bad.

Lets test for missing data:

In [23]:
df[df.year.isnull()].shape
df[df.year.isnull()]

#df.year.isnull()

      rating review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir rating_count                                               name
2442    4.23          526         NaN  good_reads:book  https://www.goodreads.com/author/show/623606.A...   NaN  /genres/religion|/genres/islam|/genres/non-fic...                       dir25/1301625.La_Tahzan.html         4134                                          La Tahzan
2869    4.61            2         NaN  good_reads:book  https://www.goodreads.com/author/show/8182217....   NaN                                                NaN  dir29/22031070-my-death-experiences---a-preach...           23  My Death Experiences - A Preacherâs 18 Apoca...
3643     NaN         None        None             None                                               None   NaN                                                NaN                    dir37/9658936-harry-potter.html         None                                               None
5282     NaN         None        None             None                                               None   NaN                                                NaN                       dir53/113138.The_Winner.html         None                                               None
5572    3.71           35  8423336603  good_reads:book  https://www.goodreads.com/author/show/285658.E...   NaN                                    /genres/fiction  dir56/890680._rase_una_vez_el_amor_pero_tuve_q...          403  Ãrase una vez el amor pero tuve que matarlo. ...
5658    4.32           44         NaN  good_reads:book  https://www.goodreads.com/author/show/25307.Ro...   NaN  /genres/fantasy|/genres/fantasy|/genres/epic-f...  dir57/5533041-assassin-s-apprentice-royal-assa...         3850  Assassin's Apprentice / Royal Assassin (Farsee...
5683    4.56          204         NaN  good_reads:book  https://www.goodreads.com/author/show/3097905....   NaN  /genres/fantasy|/genres/young-adult|/genres/ro...                  dir57/12474623-tiger-s-dream.html          895                 Tiger's Dream (The Tiger Saga, #5)

### Cleaning: Dealing with Missing Values
How should we interpret 'missing' or 'invalid' values in the data (hint: look at where these values occur)? One approach is to simply exclude them from the dataframe. Is this appropriate for all 'missing' or 'invalid' values?

In [117]:
#Treat the missing or invalid values in your dataframe
####### 
df[df.year.notnull()].shape
df = df[df.year.notnull()]

Ok so we have done some cleaning. What do things look like now? Notice the float has not yet changed.

In [27]:
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [12]:
print(np.sum(df.year.isnull()))
df.shape # We removed seven rows

0

(5993, 10)

<div class="exercise"><b>Exercise</b></div>

Ok so lets fix those types. Convert them to ints. If the type conversion fails, we now know we have further problems.

In [118]:
df.year = df.year.astype(int)
df.rating_count=df.rating_count.astype(int)
df.review_count = df.review_count.astype(int)

In [13]:
# your code here
df.rating_count=df.rating_count.astype(int)
df.review_count=df.review_count.astype(int)
df.year=df.year.astype(int)

Once you do this, we seem to be good on these columns (no errors in conversion). Lets look:

In [31]:
df.dtypes

rating          float64
review_count      int64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

Sweet!

Some of the other colums that should be strings have NaN.

In [40]:
df.loc[df.genre_urls.isnull()].shape
df.loc[df.isbn.isnull()].shape

(0, 10)

In [119]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""

##  Part 2: Parsing and Completing the Data Frame 

We will parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

We will use panda's `map` to assign new columns to the dataframe.

In [43]:
df.author_url[1]
df.genre_urls[1]

'/genres/fantasy|/genres/young-adult|/genres/fiction|/genres/fantasy|/genres/magic|/genres/childrens|/genres/adventure|/genres/science-fiction-fantasy'

Examine an example `author_url` and reason about which sequence of string operations must be performed in order to isolate the author's name.

In [44]:
#Get the first author_url
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/153394.Suzanne_Collins'

In [50]:
test_string.split('/')[-1].split('.')[-1]

'Suzanne_Collins'

In [17]:
#Test out some string operations to isolate the author name

test_string.split('/')[-1].split('.')[1:][0]

'Suzanne_Collins'

<div class="exercise"><b>Exercise</b></div>

Lets wrap the above code into a function which we will then use

In [120]:
def get_author(url):
    return url.split('/')[-1].split('.')[-1]

df['author']=df.author_url.map(get_author)

In [18]:
# Write a function that accepts an author url and returns the author's name based on your experimentation above
def get_author(url):
    # your code here
    name = url.split('/')[-1].split('.')[1:][0]
    ####### 
    return name

In [19]:
#Apply the get_author function to the 'author_url' column using '.map' 
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(get_author)
df.author[0:5]

0    Suzanne_Collins
1        J_K_Rowling
2    Stephenie_Meyer
3         Harper_Lee
4        Jane_Austen
Name: author, dtype: object

<div class="exercise"><b>Exercise</b></div>

Now parse out the genres from `genre_url`.  

This is a little more complicated because there be more than one genre.

In [76]:
test_string=df.genre_urls[0]

In [96]:
genre_list=df.genre_urls[0].split('|')
all_genres = []
for i in genre_list:
    genre_temp = i.split('/')[-1]
    all_genres.append(genre_temp)
    "|".join(all_genres)

In [95]:
genre_split = df.genre_urls[0].split('|')
all_genres=[i.split('/')[-1] for i in genre_split]
genres="|".join(all_genres)
genres

'young-adult|science-fiction|dystopia|fantasy|science-fiction|romance|adventure|book-club|young-adult|teen|apocalyptic|post-apocalyptic|action'

Define function to turn a genre url into a list of genres

In [121]:
def id_genres(url):
    genre_split=url.split('|')
    all_genres=[i.split('/')[-1] for i in genre_split]
    return "|".join(all_genres)

Test function with first genre_url

In [101]:
test_string = df.genre_urls[0]
id_genres(test_string)

'young-adult|science-fiction|dystopia|fantasy|science-fiction|romance|adventure|book-club|young-adult|teen|apocalyptic|post-apocalyptic|action'

Create new column in dataframe for genre list

In [122]:
df['genres']= df.genre_urls.map(id_genres)

In [123]:

df.genre_urls.head()

0    /genres/young-adult|/genres/science-fiction|/g...
1    /genres/fantasy|/genres/young-adult|/genres/fi...
2    /genres/young-adult|/genres/fantasy|/genres/ro...
3    /genres/classics|/genres/fiction|/genres/histo...
4    /genres/classics|/genres/fiction|/genres/roman...
Name: genre_urls, dtype: object

In [90]:
df.genre_urls[0].strip().split('|')

['/genres/young-adult',
 '/genres/science-fiction',
 '/genres/dystopia',
 '/genres/fantasy',
 '/genres/science-fiction',
 '/genres/romance',
 '/genres/adventure',
 '/genres/book-club',
 '/genres/young-adult',
 '/genres/teen',
 '/genres/apocalyptic',
 '/genres/post-apocalyptic',
 '/genres/action']

In [21]:
# your code here
#Examine some examples of genre_urls

#Test out some string operations to isolate the genre name
test_genre_string=df.genre_urls[0]
genres=test_genre_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

young-adult
science-fiction
dystopia
fantasy
science-fiction
romance
adventure
book-club
young-adult
teen
apocalyptic
post-apocalyptic
action

<div class="exercise"><b>Exercise</b></div>

Write a function that accepts a genre url and returns the genre name based on your experimentation above

In [22]:
def split_and_join_genres(url):
    # your code here
    genres=url.strip().split('|')
    genres=[e.split('/')[-1] for e in genres]
    return "|".join(genres)

Test your function

In [23]:
split_and_join_genres("/genres/young-adult|/genres/science-fiction")

'young-adult|science-fiction'

In [24]:
split_and_join_genres("")

''

<div class="exercise"><b>Exercise</b></div>

Use map again to create a new "genres" column

In [25]:

df['genres']=df.genre_urls.map(split_and_join_genres)
df.head()

   rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name           author                                             genres
0    4.40        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html       2958974            The Hunger Games (The Hunger Games, #1)  Suzanne_Collins  young-adult|science-fiction|dystopia|fantasy|s...
1    4.41         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...       1284478  Harry Potter and the Order of the Phoenix (Har...      J_K_Rowling  fantasy|young-adult|fiction|fantasy|magic|chil...
2    3.56         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html       2579564                            Twilight (Twilight, #1)  Stephenie_Meyer  young-adult|fantasy|romance|paranormal|vampire...
3    4.23         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html       2078123                              To Kill a Mockingbird       Harper_Lee  classics|fiction|historical-fiction|academic|s...
4    4.23         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html       1388992                                Pride and Prejudice      Jane_Austen  classics|fiction|romance|historical-fiction|li...

Finally, let's pick an author at random so we can see the results of the transformations.  Scroll to see the `author` and `genre` columns that we added to the dataframe.

In [124]:
df[df.author == "Marguerite_Yourcenar"]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                  dir  rating_count                name                author                                             genres
1014    4.23           483  0374529264  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1951  /genres/historical-fiction|/genres/fiction|/ge...  dir11/12172.Memoirs_of_Hadrian.html          6258  Memoirs of Hadrian  Marguerite_Yourcenar  historical-fiction|fiction|cultural|france|cla...
5620    4.11            74  2070367983  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1968  /genres/fiction|/genres/historical-fiction|/ge...     dir57/953435.L_uvre_au_noir.html          1601    L'Åuvre au noir  Marguerite_Yourcenar  fiction|historical-fiction|cultural|france|eur...

Let us delete the `genre_urls` column.

In [125]:
del df['genre_urls']
df.head()

   rating  review_count        isbn         booktype                                         author_url  year                                                dir  rating_count                                               name           author                                             genres
0    4.40        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008                dir01/2767052-the-hunger-games.html       2958974            The Hunger Games (The Hunger Games, #1)  Suzanne_Collins  young-adult|science-fiction|dystopia|fantasy|s...
1    4.41         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...       1284478  Harry Potter and the Order of the Phoenix (Har...      J_K_Rowling  fantasy|young-adult|fiction|fantasy|magic|chil...
2    3.56         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005                          dir01/41865.Twilight.html       2579564                            Twilight (Twilight, #1)  Stephenie_Meyer  young-adult|fantasy|romance|paranormal|vampire...
3    4.23         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960              dir01/2657.To_Kill_a_Mockingbird.html       2078123                              To Kill a Mockingbird       Harper_Lee  classics|fiction|historical-fiction|academic|s...
4    4.23         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813                dir01/1885.Pride_and_Prejudice.html       1388992                                Pride and Prejudice      Jane_Austen  classics|fiction|romance|historical-fiction|li...

And then save the dataframe out!

In [127]:
df.to_csv("/Users/emma/Documents/Data_Science/Harvard_course/2019-CS109A/content/labs/lab02/data/cleaned-goodreads.csv", index=False, header=True)

---

## Part 3: Grouping

It appears that some books were written in negative years!  Print out the observations that correspond to negative years.  What do you notice about these books?

In [129]:
df[df.year<0]

      rating  review_count        isbn         booktype                                         author_url  year                                                dir  rating_count                                  name        author                                             genres
47      3.68          5785  0143039954  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800                        dir01/1381.The_Odyssey.html        560248                           The Odyssey         Homer  classics|fiction|poetry|fantasy|mythology|acad...
246     4.01           365  0147712556  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800              dir03/1375.The_Iliad_The_Odyssey.html         35123                 The Iliad/The Odyssey         Homer  classics|fantasy|mythology|fantasy|academic|sc...
455     3.85          1499  0140449140  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -380                      dir05/30289.The_Republic.html         82022                          The Republic         Plato  philosophy|classics|non-fiction|politics|histo...
596     3.77          1240  0679729526  good_reads:book   https://www.goodreads.com/author/show/919.Virgil   -29                        dir06/12914.The_Aeneid.html         60308                            The Aeneid        Virgil  classics|poetry|fiction|fantasy|mythology|acad...
629     3.64          1231  1580495931  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -429                        dir07/1554.Oedipus_Rex.html         93192                           Oedipus Rex     Sophocles  classics|plays|drama|fiction|academic|school|l...
674     3.92          3559  1590302257  good_reads:book  https://www.goodreads.com/author/show/1771.Sun...  -512                    dir07/10534.The_Art_of_War.html        114619                        The Art of War       Sun_Tzu  non-fiction|politics|classics|literature|psych...
746     4.06          1087  0140449183  good_reads:book  https://www.goodreads.com/author/show/5158478....  -500                 dir08/99944.The_Bhagavad_Gita.html         31634                     The Bhagavad Gita     Anonymous  classics|spirituality|religion|hinduism|fantas...
777     3.52          1038  1580493882  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -442                           dir08/7728.Antigone.html         49084                              Antigone     Sophocles  drama|fiction|classics|academic|read-for-schoo...
1233    3.94           704  015602764X  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -400                  dir13/1540.The_Oedipus_Cycle.html         36008                     The Oedipus Cycle     Sophocles  classics|plays|drama|fiction|literature|academ...
1397    4.03           890  0192840509  good_reads:book  https://www.goodreads.com/author/show/12452.Aesop  -560                    dir14/21348.Aesop_s_Fables.html         71259                        Aesop's Fables         Aesop  classics|childrens|literature|fantasy|fairy-ta...
1398    3.60          1644  0141026286  good_reads:book  https://www.goodreads.com/author/show/5158478.... -1500             dir14/19351.The_Epic_of_Gilgamesh.html         42026                 The Epic of Gilgamesh     Anonymous  religion|literature|ancient|academic|read-for-...
1428    3.80           539  0486275485  good_reads:book  https://www.goodreads.com/author/show/973.Euri...  -431                            dir15/752900.Medea.html         29858                                 Medea     Euripides  classics|plays|drama|fiction|fantasy|mythology...
1815    3.96           493  0140443339  good_reads:book  https://www.goodreads.com/author/show/990.Aesc...  -458                       dir19/1519.The_Oresteia.html         18729                          The Oresteia     Aeschylus  classics|plays|drama|fiction|fantasy|mythology...
1882    4.02           377  0872205541  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400   dir19/22632.The_Trial_and_Death_of_Socrates.html         18712       The Trial and Death of Socrates         Plato  philosophy|classics|non-fiction|history|litera...
2078    3.84           399  0140440399  good_reads:book  https://www.goodreads.com/author/show/957.Thuc...  -411  dir21/261243.The_History_of_the_Peloponnesian_...         17212  The History of the Peloponnesian War    Thucydides  history|classics|non-fiction|war|war|military|...
2527    3.94           506  0140449086  good_reads:book  https://www.goodreads.com/author/show/901.Hero...  -440                      dir26/1362.The_Histories.html         20570                         The Histories     Herodotus  history|classics|non-fiction|cultural|greece|l...
3133    4.30           131  0872203492  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400                     dir32/9462.Complete_Works.html          7454                        Complete Works         Plato  philosophy|classics|non-fiction|history|litera...
3274    3.88           411  0140449493  good_reads:book  https://www.goodreads.com/author/show/2192.Ari...  -350            dir33/19068.The_Nicomachean_Ethics.html         16534                The Nicomachean Ethics     Aristotle  philosophy|classics|non-fiction|politics|acade...
3757    3.82           364  0872206033  good_reads:book  https://www.goodreads.com/author/show/1011.Ari...  -411                         dir38/1591.Lysistrata.html         18070                            Lysistrata  Aristophanes  plays|classics|drama|fiction|plays|theatre|hum...
4402    3.99           516  0140449272  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -370                     dir45/81779.The_Symposium.html         18457                         The Symposium         Plato  non-fiction|classics|philosophy|academic|schoo...
4475    4.11           281  0865163480  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -390                           dir45/73945.Apology.html         11478                               Apology         Plato  philosophy|classics|non-fiction|history|academ...
5367    4.07           133  0872206335  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -360                    dir54/30292.Five_Dialogues.html          9964                        Five Dialogues         Plato  philosophy|classics|non-fiction|academic|schoo...

In [30]:
# your code here
df[df.year < 0].name
#These are books written before the Common Era (BCE, equivalent to BC).

47                               The Odyssey
246                    The Iliad/The Odyssey
455                             The Republic
596                               The Aeneid
629                              Oedipus Rex
674                           The Art of War
746                        The Bhagavad Gita
777                                 Antigone
1233                       The Oedipus Cycle
1397                          Aesop's Fables
1398                   The Epic of Gilgamesh
1428                                   Medea
1815                            The Oresteia
1882         The Trial and Death of Socrates
2078    The History of the Peloponnesian War
2527                           The Histories
3133                          Complete Works
3274                  The Nicomachean Ethics
3757                              Lysistrata
4402                           The Symposium
4475                                 Apology
5367                          Five Dialogues
Name: name, dtype: object

We can determine the "best book" by year! For this we use Panda's `groupby()`. `Groupby()` allows grouping a dataframe by any (usually categorical) variable. Would it make sense to ever groupby integer variables? Floating point variables?

In [135]:
dfgb_author = df.groupby('author')
numbooks_per_author = dfgb_author['author'].count()
numbooks_per_author

author
A_A_Milne                 6
A_G_Howard                1
A_J_Cronin                1
A_J_Jacobs                1
A_J_Salt                  1
                         ..
_                        42
_gota_Krist_f             1
_mile_Zola                4
_ric_Emmanuel_Schmitt     1
_sne_Seierstad            1
Name: author, Length: 2645, dtype: int64

In [31]:
dfgb_author = df.groupby('author')
type(dfgb_author)

pandas.core.groupby.generic.DataFrameGroupBy

Perhaps we want the number of books each author wrote

In [32]:
dfgb_author.count()

                       rating  review_count  isbn  booktype  author_url  year  dir  rating_count  name  genres
author
A_A_Milne                   6             6     6         6           6     6    6             6     6       6
A_G_Howard                  1             1     1         1           1     1    1             1     1       1
A_J_Cronin                  1             1     1         1           1     1    1             1     1       1
A_J_Jacobs                  1             1     1         1           1     1    1             1     1       1
A_J_Salt                    1             1     1         1           1     1    1             1     1       1
A_Meredith_Walters          2             2     2         2           2     2    2             2     2       2
A_N_Roquelaure              2             2     2         2           2     2    2             2     2       2
A_S_Byatt                   1             1     1         1           1     1    1             1     1       1
A_S_King                    1             1     1         1           1     1    1             1     1       1
A_id_al_Qarni               2             2     2         2           2     2    2             2     2       2
Abbi_Glines                14            14    14        14          14    14   14            14    14      14
Abdul_Rahman_Munif          1             1     1         1           1     1    1             1     1       1
Abigail_Gibbs               1             1     1         1           1     1    1             1     1       1
Abigail_Roux                4             4     4         4           4     4    4             4     4       4
Abigail_Thomas              1             1     1         1           1     1    1             1     1       1
Abolqasem_Ferdowsi          1             1     1         1           1     1    1             1     1       1
Abraham_Verghese            1             1     1         1           1     1    1             1     1       1
Abul_Hasan_Ali_Nadwi        1             1     1         1           1     1    1             1     1       1
Adam_Hochschild             1             1     1         1           1     1    1             1     1       1
Adam_Johnson                1             1     1         1           1     1    1             1     1       1
Adam_Levin                  1             1     1         1           1     1    1             1     1       1
Adam_Rex                    1             1     1         1           1     1    1             1     1       1
Adam_Smith                  1             1     1         1           1     1    1             1     1       1
Addison_Moore               1             1     1         1           1     1    1             1     1       1
Adeline_Yen_Mah             1             1     1         1           1     1    1             1     1       1
Adolf_Hitler                1             1     1         1           1     1    1             1     1       1
Adolfo_Bioy_Casares         1             1     1         1           1     1    1             1     1       1
Aeschylus                   1             1     1         1           1     1    1             1     1       1
Aesop                       1             1     1         1           1     1    1             1     1       1
Agatha_Christie            11            11    11        11          11    11   11            11    11      11
...                       ...           ...   ...       ...         ...   ...  ...           ...   ...     ...
William_Strunk_Jr_          1             1     1         1           1     1    1             1     1       1
William_Styron              3             3     3         3           3     3    3             3     3       3
William_Wharton             2             2     2         2           2     2    2             2     2       2
William_Wordsworth          1             1     1         1           1     1    1             1     1       1
Willow_Aster                1             1     1         1           1     1    1             1     1       1
Wilson_Rawls                2             2     2         2           2     2    2             2     2       2
Winston_Groom               1             1     1         1           1     1    1             1     1       1
Witold_Gombrowicz           2             2     2         2           2     2    2             2     2       2
Wm_Paul_Young               1             1     1         1           1     1    1             1     1       1
Woody_Allen                 1             1     1         1           1     1    1             1     1       1
Wu_Cheng_en                 1             1     1         1           1     1    1             1     1       1
Yamamoto_Tsunetomo          1             1     1         1           1     1    1             1     1       1
Yana_Toboso                 1             1     1         1           1     1    1             1     1       1
Yann_Martel                 2             2     2         2           2     2    2             2     2       2
Yasunari_Kawabata           1             1     1         1           1     1    1             1     1       1
Yevgeny_Zamyatin            1             1     1         1           1     1    1             1     1       1
Young_Kim                   1             1     1         1           1     1    1             1     1       1
Yuehai_Xiao                 1             1     1         1           1     1    1             1     1       1
Yukio_Mishima               2             2     2         2           2     2    2             2     2       2
Yukito_Kishiro              1             1     1         1           1     1    1             1     1       1
Yvonne_Woon                 1             1     1         1           1     1    1             1     1       1
Zack_Love                   1             1     1         1           1     1    1             1     1       1
Zadie_Smith                 2             2     2         2           2     2    2             2     2       2
Zilpha_Keatley_Snyder       1             1     1         1           1     1    1             1     1       1
Zora_Neale_Hurston          1             1     1         1           1     1    1             1     1       1
_                          42            42    42        42          42    42   42            42    42      42
_gota_Krist_f               1             1     1         1           1     1    1             1     1       1
_mile_Zola                  4             4     4         4           4     4    4             4     4       4
_ric_Emmanuel_Schmitt       1             1     1         1           1     1    1             1     1       1
_sne_Seierstad              1             1     1         1           1     1    1             1     1       1

[2645 rows x 10 columns]

Lots of useless info there. One column should suffice

### Exercise:

- Group the dataframe by `author`. Include the following columns: `rating`, `name`, `author`. For the aggregation of the `name` column which includes the names of the books create a list with the strings containing the name of each book. Make sure that the way you aggregate the rest of the columns make sense! 

- Create a new column with number of books for each author and find the most prolific author!

In [141]:
# mean ratings for each author
mean_ratings = dfgb_author.rating.mean()

# list of books by each author
list_of_books = dfgb_author.name
list_of_books[0]

IndexError: Column(s) name already selected

In [142]:
###### Before we start : what do we do about these titles where 'name' is unreadable? Try different encodings?
auth_name = 'A_id_al_Qarni'
df[df.author == auth_name].head()

      rating  review_count isbn         booktype                                         author_url  year                 dir  rating_count                                   name         author                                             genres
2213    4.19          1169       good_reads:book  https://www.goodreads.com/author/show/1201952....  2003  dir23/2750180.html         15781                          ÙØ§ ØªØ­Ø²Ù  A_id_al_Qarni  religion|religion|islam|self-help|non-fiction|...
5998    3.91           281       good_reads:book  https://www.goodreads.com/author/show/1201952....  2006  dir60/2750008.html          3083  Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ
  A_id_al_Qarni  religion|islam|religion|self-help|spirituality...

In [143]:
df[df.author == auth_name].iat[0,8].encode('UTF-16')

b'\xff\xfe\xd9\x00\x84\x00\xd8\x00\xa7\x00 \x00\xd8\x00\xaa\x00\xd8\x00\xad\x00\xd8\x00\xb2\x00\xd9\x00\x86\x00'

In [35]:
# let's examine the columns we have
df.columns

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'dir', 'rating_count', 'name', 'author', 'genres'], dtype='object')

Create the GroupBy table

In [144]:
authors = df.copy()
authors = authors[['rating','name','author']].groupby('author').agg({'rating' : np.mean,
                                                                    'name' : '|'.join})

In [145]:
authors.head()

            rating                                               name
author
A_A_Milne    4.365  Winnie-the-Pooh|The House at Pooh Corner|The H...
A_G_Howard   4.020                        Splintered (Splintered, #1)
A_J_Cronin   4.220                            The Keys of the Kingdom
A_J_Jacobs   3.750                      The Year of Living Biblically
A_J_Salt     4.940                    Nik Nassa & the Mark of Destiny

In [147]:
authors = authors.reset_index()
authors

      index                 author    rating                                               name
0         0              A_A_Milne  4.365000  Winnie-the-Pooh|The House at Pooh Corner|The H...
1         1             A_G_Howard  4.020000                        Splintered (Splintered, #1)
2         2             A_J_Cronin  4.220000                            The Keys of the Kingdom
3         3             A_J_Jacobs  3.750000                      The Year of Living Biblically
4         4               A_J_Salt  4.940000                    Nik Nassa & the Mark of Destiny
...     ...                    ...       ...                                                ...
2640   2640                      _  3.988095  Ø¹Ø²Ø§Ø²ÙÙ|Ø«ÙØ§Ø«ÙØ© ØºØ±ÙØ§Ø·Ø©|ØªØ±Ø§Ø...
2641   2641          _gota_Krist_f  4.340000             The Notebook, The Proof, The Third Lie
2642   2642             _mile_Zola  3.990000  Germinal (Les Rougon-Macquart, #13)|L'Assommoi...
2643   2643  _ric_Emmanuel_Schmitt  4.160000                              Oscar et la dame rose
2644   2644         _sne_Seierstad  3.740000                            The Bookseller of Kabul

[2645 rows x 4 columns]

In [149]:
# split the column string and make a list of string book names
authors['name'] = authors.name.str.split('|')
authors.head()

   index      author  rating                                               name
0      0   A_A_Milne   4.365  [Winnie-the-Pooh, The House at Pooh Corner, Th...
1      1  A_G_Howard   4.020                      [Splintered (Splintered, #1)]
2      2  A_J_Cronin   4.220                          [The Keys of the Kingdom]
3      3  A_J_Jacobs   3.750                    [The Year of Living Biblically]
4      4    A_J_Salt   4.940                  [Nik Nassa & the Mark of Destiny]

In [39]:
# count the books - create new column
len(authors.name[0])

6

In [157]:
authors['# of books'] = authors['name'].str.len()

# most prolific authors
np.max(authors['# of books'])

NameError: name 'location' is not defined

In [158]:
authors['num_books'] = authors['name'].str.len()
authors

      index                 author    rating                                               name  # of books  num_books
0         0              A_A_Milne  4.365000  [Winnie-the-Pooh, The House at Pooh Corner, Th...           6          6
1         1             A_G_Howard  4.020000                      [Splintered (Splintered, #1)]           1          1
2         2             A_J_Cronin  4.220000                          [The Keys of the Kingdom]           1          1
3         3             A_J_Jacobs  3.750000                    [The Year of Living Biblically]           1          1
4         4               A_J_Salt  4.940000                  [Nik Nassa & the Mark of Destiny]           1          1
...     ...                    ...       ...                                                ...         ...        ...
2640   2640                      _  3.988095  [Ø¹Ø²Ø§Ø²ÙÙ, Ø«ÙØ§Ø«ÙØ© ØºØ±ÙØ§Ø·Ø©, ØªØ±...          42         42
2641   2641          _gota_Krist_f  4.340000           [The Notebook, The Proof, The Third Lie]           1          1
2642   2642             _mile_Zola  3.990000  [Germinal (Les Rougon-Macquart, #13), L'Assomm...           4          4
2643   2643  _ric_Emmanuel_Schmitt  4.160000                            [Oscar et la dame rose]           1          1
2644   2644         _sne_Seierstad  3.740000                          [The Bookseller of Kabul]           1          1

[2645 rows x 6 columns]

In [161]:
# sort for more prolific
authors.sort_values(by='num_books', ascending=False).iloc[0]
authors.sort_values(by='num_books', ascending=False).iloc[0:10]

      index              author    rating                                               name  # of books  num_books
2349   2349        Stephen_King  3.918750  [The Stand, The Shining (The Shining #1), It, ...          56         56
2640   2640                   _  3.988095  [Ø¹Ø²Ø§Ø²ÙÙ, Ø«ÙØ§Ø«ÙØ© ØºØ±ÙØ§Ø·Ø©, ØªØ±...          42         42
2429   2429     Terry_Pratchett  4.103415  [Good Omens, Night Watch (Discworld, #29), Sma...          41         41
1745   1745           Meg_Cabot  3.890000  [The Princess Diaries (The Princess Diaries, #...          33         33
1494   1494  Laurell_K_Hamilton  3.954815  [Guilty Pleasures (Anita Blake, Vampire Hunter...          27         27
704     704         Erin_Hunter  4.325200  [Into the Wild (Warriors, #1), Fire and Ice (W...          25         25
1043   1043     James_Patterson  3.949600  [The Angel Experiment (Maximum Ride, #1), Scho...          25         25
1866   1866         Neil_Gaiman  4.335200  [American Gods (American Gods, #1), Neverwhere...          25         25
2103   2103       Richelle_Mead  4.292727  [Vampire Academy (Vampire Academy, #1), Shadow...          22         22
2293   2293    Sherrilyn_Kenyon  4.269545  [Acheron (Dark-Hunter, #8), Fantasy Lover (Dar...          22         22

#### Winner is Stephen King with 56 books! OMG!!!

Perhaps you want more detailed info...

In [162]:
dfgb_author[['rating', 'rating_count', 'review_count', 'year']].describe()

                      rating                                                        rating_count                                                                             review_count                                                                      year
                       count      mean       std   min     25%    50%     75%   max        count          mean           std      min       25%      50%       75%       max        count         mean          std     min      25%     50%      75%     max count         mean         std     min      25%     50%      75%     max
author
A_A_Milne                6.0  4.365000  0.078677  4.25  4.3275  4.365  4.4025  4.48          6.0  47842.333333  57135.314010    544.0  15559.50  30547.0  50401.25  157833.0          6.0   543.000000   682.473150     1.0   219.50   309.5   499.25  1886.0   6.0  1944.166667   29.294482  1926.0  1926.25  1927.5  1952.75  1997.0
A_G_Howard               1.0  4.020000       NaN  4.02  4.0200  4.020  4.0200  4.02          1.0  17073.000000           NaN  17073.0  17073.00  17073.0  17073.00   17073.0          1.0  3194.000000          NaN  3194.0  3194.00  3194.0  3194.00  3194.0   1.0  2013.000000         NaN  2013.0  2013.00  2013.0  2013.00  2013.0
A_J_Cronin               1.0  4.220000       NaN  4.22  4.2200  4.220  4.2200  4.22          1.0   1015.000000           NaN   1015.0   1015.00   1015.0   1015.00    1015.0          1.0   109.000000          NaN   109.0   109.00   109.0   109.00   109.0   1.0  1941.000000         NaN  1941.0  1941.00  1941.0  1941.00  1941.0
A_J_Jacobs               1.0  3.750000       NaN  3.75  3.7500  3.750  3.7500  3.75          1.0  39489.000000           NaN  39489.0  39489.00  39489.0  39489.00   39489.0          1.0  4371.000000          NaN  4371.0  4371.00  4371.0  4371.00  4371.0   1.0  2007.000000         NaN  2007.0  2007.00  2007.0  2007.00  2007.0
A_J_Salt                 1.0  4.940000       NaN  4.94  4.9400  4.940  4.9400  4.94          1.0     16.000000           NaN     16.0     16.00     16.0     16.00      16.0          1.0     6.000000          NaN     6.0     6.00     6.0     6.00     6.0   1.0  2014.000000         NaN  2014.0  2014.00  2014.0  2014.00  2014.0
...                      ...       ...       ...   ...     ...    ...     ...   ...          ...           ...           ...      ...       ...      ...       ...       ...          ...          ...          ...     ...      ...     ...      ...     ...   ...          ...         ...     ...      ...     ...      ...     ...
_                       42.0  3.988095  0.301211  3.15  3.8000  4.075  4.2075  4.47         42.0  11574.642857   9368.218450     10.0   4724.00   8709.5  15572.75   39302.0         42.0  1437.214286  1216.421371     1.0   534.75  1020.5  1745.75  4785.0  42.0  1998.904762   18.721071  1941.0  1994.75  2007.0  2010.75  2014.0
_gota_Krist_f            1.0  4.340000       NaN  4.34  4.3400  4.340  4.3400  4.34          1.0   2628.000000           NaN   2628.0   2628.00   2628.0   2628.00    2628.0          1.0   243.000000          NaN   243.0   243.00   243.0   243.00   243.0   1.0  1986.000000         NaN  1986.0  1986.00  1986.0  1986.00  1986.0
_mile_Zola               4.0  3.990000  0.100995  3.84  3.9750  4.035  4.0500  4.05          4.0   8358.250000   4553.226942   3594.0   5181.75   8095.0  11271.50   13649.0          4.0   283.750000   171.069917   125.0   189.50   243.5   337.75   523.0   4.0  1652.500000  456.345264   968.0  1649.75  1878.5  1881.25  1885.0
_ric_Emmanuel_Schmitt    1.0  4.160000       NaN  4.16  4.1600  4.160  4.1600  4.16          1.0   6439.000000           NaN   6439.0   6439.00   6439.0   6439.00    6439.0          1.0   424.000000          NaN   424.0   424.00   424.0   424.00   424.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0
_sne_Seierstad           1.0  3.740000       NaN  3.74  3.7400  3.740  3.7400  3.74          1.0  24993.000000           NaN  24993.0  24993.00  24993.0  24993.00   24993.0          1.0  2088.000000          NaN  2088.0  2088.00  2088.0  2088.00  2088.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0

[2645 rows x 32 columns]

You can also access a `groupby` dictionary style.

In [163]:
ratingdict = {}
for author, subset in dfgb_author:
    ratingdict[author] = (subset['rating'].mean(), subset['rating'].std())
ratingdict

{'A_A_Milne': (4.364999999999999, 0.0786765530510839),
 'A_G_Howard': (4.02, nan),
 'A_J_Cronin': (4.22, nan),
 'A_J_Jacobs': (3.75, nan),
 'A_J_Salt': (4.94, nan),
 'A_Meredith_Walters': (4.15, 0.16970562748477094),
 'A_N_Roquelaure': (3.45, 0.2262741699796951),
 'A_S_Byatt': (3.86, nan),
 'A_S_King': (3.93, nan),
 'A_id_al_Qarni': (4.050000000000001, 0.19798989873223347),
 'Abbi_Glines': (4.179285714285713, 0.12916681436834276),
 'Abdul_Rahman_Munif': (4.03, nan),
 'Abigail_Gibbs': (3.82, nan),
 'Abigail_Roux': (4.47, 0.22876479915697992),
 'Abigail_Thomas': (3.68, nan),
 'Abolqasem_Ferdowsi': (4.52, nan),
 'Abraham_Verghese': (4.26, nan),
 'Abul_Hasan_Ali_Nadwi': (4.15, nan),
 'Adam_Hochschild': (4.14, nan),
 'Adam_Johnson': (4.03, nan),
 'Adam_Levin': (4.04, nan),
 'Adam_Rex': (4.14, nan),
 'Adam_Smith': (3.82, nan),
 'Addison_Moore': (3.78, nan),
 'Adeline_Yen_Mah': (4.01, nan),
 'Adolf_Hitler': (2.97, nan),
 'Adolfo_Bioy_Casares': (4.06, nan),
 'Aeschylus': (3.96, nan),
 'Aesop': (4.03, nan),
 'Agatha_Christie': (3.9772727272727266, 0.12190905701307918),
 'Ahlam_Mosteghanemi': (3.97, nan),
 'Ahmad_Baari': (4.88, nan),
 'Ahmad_Fuadi': (4.0, nan),
 'Ai_Yazawa': (4.19, nan),
 'Aidan_Chambers': (4.27, nan),
 'Aimee_Carter': (3.9133333333333336, 0.13051181300301234),
 'Aimee_Friedman': (3.64, nan),
 'Alain_Fournier': (3.79, nan),
 'Alan_Bradley': (3.79, nan),
 'Alan_Brennert': (4.13, nan),
 'Alan_Campbell': (3.58, nan),
 'Alan_Hollinghurst': (3.65, nan),
 'Alan_Lightman': (4.07, nan),
 'Alan_Moore': (4.198, 0.1630030674557996),
 'Alan_Paton': (3.83, nan),
 'Alan_Wilson_Watts': (4.27, nan),
 'Alastair_Reynolds': (4.09, nan),
 'Albert_Camus': (4.032000000000001, 0.09523654760647308),
 'Albert_Einstein': (4.13, nan),
 'Albert_Espinosa': (3.36, nan),
 'Alcoholics_Anonymous': (4.39, nan),
 'Aldo_Leopold': (4.22, nan),
 'Aldous_Huxley': (3.9400000000000004, 0.12288205727444491),
 'Aleatha_Romig': (4.275, 0.27577164466275333),
 'Alecia_Stone': (4.455, 0.657609306503489),
 'Aleksandr_Solzhenitsyn': (4.0600000000000005, 0.12288205727444532),
 'Alessandro_Baricco': (4.036666666666666, 0.21361959960016158),
 'Alessandro_Manzoni': (3.71, nan),
 'Alex_Flinn': (3.8200000000000003, 0.04242640687119289),
 'Alex_Garland': (3.5300000000000002, 0.46669047558312116),
 'Alex_Haley': (4.39, nan),
 'Alex_Harris': (4.11, nan),
 'Alex_Kotlowitz': (4.23, nan),
 'Alex_Sanchez': (3.91, 0.08485281374238578),
 'Alexander_Gordon_Smith': (4.09, nan),
 'Alexander_Jovy': (4.12, nan),
 'Alexander_McCall_Smith': (3.7, nan),
 'Alexander_Pushkin': (4.03, nan),
 'Alexandra_Adornetto': (3.8666666666666667, 0.16441816606851367),
 'Alexandra_Bracken': (4.2, 0.3269556544854364),
 'Alexandra_Fuller': (3.94, nan),
 'Alexandra_Ivy': (3.9899999999999998, 0.21213203435596414),
 'Alexandra_Monir': (3.88, nan),
 'Alexandra_Potter': (3.18, nan),
 'Alexandra_Ripley': (3.23, nan),
 'Alexandre_Dumas': (4.09, 0.08485281374238578),
 'Alexandre_Dumas_fils': (3.94, nan),
 'Alexei_Maxim_Russell': (4.17, 0.6298412498399895),
 'Alexis_de_Tocqueville': (3.94, nan),
 'Alfred_Bester': (4.075, 0.10606601717798238),
 'Alfred_Lansing': (4.31, nan),
 'Alfred_Tennyson': (4.04, nan),
 'Ali_Marsman': (4.1, nan),
 'Ali_Smith': (3.46, nan),
 'Alice_Clayton': (4.19, nan),
 'Alice_Hoffman': (3.7942857142857145, 0.11602544876838351),
 'Alice_Kuipers': (3.65, nan),
 'Alice_Schroeder': (4.03, nan),
 'Alice_Sebold': (3.725, 0.007071067811865324),
 'Alice_Walker': (4.074999999999999, 0.07778174593052045),
 'Alija_Izetbegovi_': (4.46, nan),
 'Alison_Bechdel': (4.12, nan),
 'Alison_Croggon': (4.2175, 0.2766917659297678),
 'Alison_Goodman': (4.0649999999999995, 0.0919238815542511),
 'Alison_Weir': (3.9899999999999998, 0.08888194417315584),
 'Alistair_MacLeod': (3.98, nan),
 'Allan_Frewin_Jones': (3.795, 0.28991378028648457),
 'Allan_Gurganus': (3.83, nan),
 'Allan_Pease': (3.94, nan),
 'Allegra_Goodman': (3.67, nan),
 'Allen_Ginsberg': (4.15, nan),
 'Ally_Carter': (4.1977777777777785, 0.21194207804125262),
 'Ally_Condie': (3.6133333333333333, 0.1040832999733067),
 'Ally_Shields': (3.83, nan),
 'Allyse_Near': (4.26, nan),
 'Alma_Katsu': (3.69, nan),
 'Alyson_Noel': (3.772, 0.17516975893242662),
 'Alyxandra_Harvey': (4.03, 0.1153256259467082),
 'Am_lie_Nothomb': (3.77, 0.08485281374238578),
 'Amanda_E_Alvarez': (3.77, nan),
 'Amanda_Hocking': (3.95375, 0.12993817211054096),
 'Amber_Argyle': (3.69, nan),
 'Amber_Lea_Easton': (4.21, nan),
 'Ambrose_Bierce': (4.15, nan),
 'Amelia_Atwater_Rhodes': (4.041666666666667, 0.13090709173557669),
 'Amelia_Hutchins': (4.38, 0.19798989873223286),
 'Ami_McKay': (3.97, nan),
 'Amin_Maalouf': (4.17, nan),
 'Amish_Tripathi': (3.93, 0.0),
 'Amitav_Ghosh': (3.91, nan),
 'Amor_Towles': (3.98, nan),
 'Amy_A_Bartol': (4.3375, 0.16680827317612265),
 'Amy_Efaw': (3.72, nan),
 'Amy_Harmon': (4.365, 0.14849242404917495),
 'Amy_Hempel': (4.27, nan),
 'Amy_Plum': (4.105, 0.12020815280171367),
 'Amy_Tan': (3.8200000000000003, 0.24361855430159662),
 'Anastacia_Moore': (4.65, nan),
 'Anchee_Min': (3.86, nan),
 'Andr_Aciman': (4.04, nan),
 'Andr_Gide': (3.67, nan),
 'Andre_Agassi': (4.11, nan),
 'Andre_Dubus_III': (3.77, nan),
 'Andrea_Cremer': (4.066666666666666, 0.055075705472860864),
 'Andrea_Hirata': (3.94, 0.2764054992217052),
 'Andrea_Levy': (3.86, nan),
 'Andrew_Clements': (3.8266666666666667, 0.05859465277082333),
 'Andrew_Davidson': (3.96, nan),
 'Andrew_Klavan': (4.12, 0.1838477631085022),
 'Andrew_Smith': (4.17, nan),
 'Andrzej_Sapkowski': (4.273333333333333, 0.11060440015358027),
 'Andy_Szpuk': (4.18, nan),
 'Andy_Weir': (4.33, nan),
 'Angel_Sefer': (4.43, nan),
 'Angela_Carter': (4.01, 0.0707106781186545),
 'Angela_Morrison': (4.0, nan),
 'Angelo_Tsanatelis': (4.1899999999999995, 0.21213203435596412),
 'Angie_Martin': (4.4399999999999995, 0.11313708498984708),
 'Angie_Sage': (3.865, 0.134350288425444),
 'Anita_Diamant': (4.13, nan),
 'Anita_Shreve': (3.84, nan),
 'Ann_Aguirre': (4.025, 0.14849242404917495),
 'Ann_Brashares': (3.742857142857143, 0.10291003930849597),
 'Ann_Fairbairn': (4.41, nan),
 'Ann_M_Martin': (4.16, nan),
 'Ann_Marie_MacDonald': (3.91, nan),
 'Ann_Patchett': (3.78, 0.1513274595042156),
 'Ann_Rule': (4.029999999999999, 0.12186057606953923),
 'Anna_Banks': (4.0600000000000005, 0.014142135623731277),
 'Anna_Carey': (3.8200000000000003, 0.1555634918610406),
 'Anna_Gavalda': (4.1, nan),
 'Anna_Godbersen': (3.7866666666666666, 0.12701705922171752),
 'Anna_Lee_Waldo': (4.2, nan),
 'Anna_Quindlen': (3.81, nan),
 'Anna_Sewell': (3.92, nan),
 'Anne_Bishop': (4.253, 0.14735067771212387),
 'Anne_Bront_': (3.7249999999999996, 0.19091883092036785),
 'Anne_Carson': (4.39, nan),
 'Anne_Elisabeth_Stengl': (4.18, 0.39509492530276813),
 'Anne_Fadiman': (4.12, nan),
 'Anne_Fortier': (3.9, nan),
 'Anne_Frank': (4.06, nan),
 'Anne_Lamott': (4.18, 0.042426406871192576),
 'Anne_McCaffrey': (4.033076923076924, 0.1835022531825615),
 'Anne_Michaels': (3.96, nan),
 'Anne_Morrow_Lindbergh': (4.18, nan),
 'Anne_Rice': (3.812105263157895, 0.14401307607947048),
 'Anne_Tyler': (3.8316666666666666, 0.16702295251451718),
 'Annemarie_Selinko': (3.94, nan),
 'Annette_Curtis_Klause': (3.7, 0.09899494936611673),
 'Annie_Dillard': (3.98, 0.19798989873223347),
 'Annie_Proulx': (3.8449999999999998, 0.10606601717798206),
 'Anonymous': (4.265294117647059, 0.3613363676524068),
 'Anthony_Bourdain': (3.97, nan),
 'Anthony_Burgess': (4.055, 0.14849242404917495),
 'Anthony_Doerr': (4.19, nan),
 'Anthony_Hope': (3.87, nan),
 'Anthony_Horowitz': (4.0672727272727265, 0.08462752614733685),
 'Anthony_Kiedis': (4.06, nan),
 'Anthony_Marra': (4.15, nan),
 'Anthony_Ryan': (4.54, nan),
 'Anthony_Swofford': (3.59, nan),
 'Anthony_Trollope': (4.01, 0.028284271247461926),
 'Antoine_de_Saint_Exup_ry': (4.293333333333333, 0.1365039681962884),
 'Anton_Chekhov': (4.06, 0.35791060336346536),
 'Antonia_Fraser': (3.89, nan),
 'Antonia_Michaelis': (4.14, nan),
 'Antony_Beevor': (4.28, nan),
 'Anya_Seton': (4.18, nan),
 'Aporva_Kala': (4.355, 0.10606601717798175),
 'April_Henry': (3.94, nan),
 'Aprilynne_Pike': (4.0225, 0.19720970226301415),
 'Aravind_Adiga': (3.69, nan),
 'Ariana_Franklin': (3.94, nan),
 'Aristophanes': (3.82, nan),
 'Aristotle': (3.88, nan),
 'Arkady_Strugatsky': (4.275, 0.06363961030678918),
 'Armando_Cosani': (4.55, nan),
 'Armistead_Maupin': (4.07, nan),
 'Art_Spiegelman': (4.426666666666667, 0.07767453465154048),
 'Arthur_C_Clarke': (3.9659999999999997, 0.17285832349065502),
 'Arthur_Conan_Doyle': (4.1984615384615385, 0.2004098364953741),
 'Arthur_Golden': (4.03, nan),
 'Arthur_Koestler': (4.03, nan),
 'Arthur_Miller': (3.47, 0.028284271247461926),
 'Arthur_Ransome': (3.97, nan),
 'Arthur_Rimbaud': (4.3933333333333335, 0.0461880215351701),
 'Arthur_Schnitzler': (3.79, nan),
 'Arturo_P_rez_Reverte': (3.8049999999999997, 0.007071067811865638),
 'Arun_Tiwari': (4.1, nan),
 'Arundhati_Roy': (3.88, nan),
 'Asa_Don_Brown': (4.45, nan),
 'Ashley_Chappell': (4.605, 0.26162950903902266),
 'Ashley_Waelti': (4.36, nan),
 'Astrid_Lindgren': (4.1899999999999995, 0.12000000000000009),
 'Audrey_Niffenegger': (3.565, 0.5020458146424487),
 'Augusten_Burroughs': (3.815, 0.23334523779156074),
 'Augustine_of_Hippo': (3.82, nan),
 'Aurora_Rose_Reynolds': (4.21, nan),
 'Austin_Kleon': (3.88, nan),
 'Author_Neva_Squires_Rodriguez': (4.25, nan),
 'Autumn_Cornwell': (3.95, nan),
 'Avery_Aster': (3.73, 0.3144307024873154),
 'Avi': (3.79, nan),
 'Ayaan_Hirsi_Ali': (4.18, nan),
 'Ayn_Rand': (3.7979999999999996, 0.1739827577663947),
 'Azar_Nafisi': (3.54, nan),
 'B_Kristin_McMichael': (3.8700000000000006, 0.14106735979665874),
 'Banana_Yoshimoto': (3.82, nan),
 'Barack_Obama': (3.66, nan),
 'Barbara_Demick': (4.41, nan),
 'Barbara_Ehrenreich': (3.58, nan),
 'Barbara_Erskine': (4.04, nan),
 'Barbara_Kingsolver': (3.931666666666666, 0.11321071798494443),
 'Barbara_Taylor_Bradford': (4.12, nan),
 'Barbara_W_Tuchman': (4.126666666666666, 0.08082903768654764),
 'Barry_Jordan_Jr_': (4.48, nan),
 'Barry_Lyga': (3.99, nan),
 'Barry_Unsworth': (4.12, nan),
 'Beatrice_Sparks': (3.76, nan),
 'Beatrix_Potter': (4.24, 0.14142135623730964),
 'Becca_Fitzpatrick': (4.24, 0.18264720090929407),
 'Belle_Aurora': (4.255, 0.12020815280171303),
 'Belsebuub': (4.62, nan),
 'Belzebuub': (4.475, 0.0919238815542511),
 'Ben_Goldacre': (4.07, nan),
 'Ben_Peller': (4.18, 0.21213203435596412),
 'Ben_Sherwood': (3.99, nan),
 'Benedict_Freedman': (4.12, nan),
 'Benjamin_Alire_S_enz': (4.27, nan),
 'Benjamin_Franklin': (3.78, nan),
 'Benjamin_Graham': (4.24, nan),
 'Benjamin_Hoff': (4.0600000000000005, 0.08485281374238578),
 'Bernadette_Azizi': (4.06, nan),
 'Bernard_Cornwell': (4.123333333333333, 0.22327113561766107),
 'Bernard_Malamud': (3.77, 0.2262741699796954),
 'Bernhard_Schlink': (3.69, nan),
 'Bertolt_Brecht': (3.66, nan),
 'Bertrand_Russell': (4.02, nan),
 'Beryl_Markham': (4.18, nan),
 'Bess_Streeter_Aldrich': (4.07, nan),
 'Beth_Fantaskey': (3.86, nan),
 'Beth_Hoffman': (3.89, nan),
 'Beth_Revis': (3.94, 0.19798989873223347),
 'Bethany_Hamilton': (4.12, nan),
 'Bette_Greene': (3.63, nan),
 'Betty_Edwards': (3.86, nan),
 'Betty_Friedan': (3.81, nan),
 'Betty_MacDonald': (4.15, nan),
 'Betty_Mahmoody': (3.99, nan),
 'Betty_Smith': (4.22, nan),
 'Bev_Stout': (4.4, nan),
 'Bill_Bryson': (3.963333333333333, 0.10535653752852739),
 'Bill_Courtney': (4.39, nan),
 'Bill_Konigsberg': (4.05, nan),
 'Bill_Martin_Jr_': (4.16, nan),
 'Bill_Watterson': (4.69, 0.060415229867972826),
 'Billie_Letts': (3.97, nan),
 'Bisco_Hatori': (4.35, nan),
 'Blue_Jeans': (4.15, nan),
 'Bo_Hampton': (3.94, nan),
 'Bob_Atkinson': (4.15, nan),
 'Bob_Dylan': (3.99, nan),
 'Bodie_Thoene': (4.336666666666666, 0.06806859285554051),
 'Bohumil_Hrabal': (4.16, 0.05656854249492385),
 'Boris_Pasternak': (4.02, nan),
 'Boris_Vian': (4.035, 0.0212132034355966),
 'Brae_Wyckoff': (3.92, nan),
 'Bram_Stoker': (3.94, nan),
 'Brandon_Mull': (4.211666666666666, 0.15419684389333865),
 'Brandon_Sanderson': (4.316363636363636, 0.2578089497000725),
 'Bree_Despain': (3.945, 0.1626345596729056),
 'Brenna_Yovanoff': (3.58, nan),
 'Brent_Weeks': (4.300000000000001, 0.11882760622010352),
 'Bret_Easton_Ellis': (3.62, 0.13656500283747663),
 'Brett_Axel': (4.61, nan),
 'Brian_Celio': (4.05, nan),
 'Brian_Greene': (4.1, nan),
 'Brian_Jacques': (4.009285714285714, 0.07205385653633149),
 'Brian_K_Vaughan': (4.15, nan),
 'Brian_Katcher': (3.89, nan),
 'Brian_L_Weiss': (4.16, nan),
 'Brian_Lumley': (3.96, nan),
 'Brian_Patrick_McKinley': (4.53, nan),
 'Brian_Selznick': (4.175, 0.06363961030678918),
 'Brigid_Kemmerer': (4.125, 0.1484924240491756),
 'Brodi_Ashton': (3.81, nan),
 'Brom': (4.09, nan),
 'Brother_Andrew': (4.29, nan),
 'Brother_Lawrence': (4.31, nan),
 'Bruce_Campbell': (4.01, nan),
 'Bruno_Schulz': (4.2, nan),
 'Bryan_Davis': (4.17, nan),
 'Bryan_Lee_O_Malley': (4.24, 0.09899494936611643),
 'Bryce_Courtenay': (4.125, 0.15631165450257803),
 'CLAMP': (4.12, nan),
 'C_C_Humphreys': (3.82, nan),
 'C_C_Hunter': (4.322, 0.10183319694480758),
 'C_D_Payne': (4.03, nan),
 'C_E_Kilgore': (3.96, nan),
 'C_G_Jung': (4.18, nan),
 'C_J_Box': (3.8, nan),
 'C_J_Daugherty': (4.105, 0.1343502884254443),
 'C_J_Redwine': (3.74, nan),
 'C_J_Roberts': (4.27, 0.1664331697709322),
 'C_J_Sansom': (4.06, nan),
 'C_L_Stone': (4.416666666666667, 0.10969655114602912),
 'C_L_Wilson': (4.239999999999999, 0.13076696830622028),
 'C_S_Lewis': (4.056111111111111, 0.13856996062252486),
 'Caleb_Carr': (4.03, nan),
 'Candace_Bushnell': (3.56, nan),
 'Candice_Millard': (4.17, nan),
 'Cao_Xueqin': (4.05, nan),
 'Cara_Lynn_Shultz': (3.91, nan),
 'Caragh_M_O_Brien': (3.92, nan),
 'Carl_Hiaasen': (3.8099999999999996, 0.04242640687119289),
 'Carl_Sagan': (4.26, 0.12549900398011124),
 'Carla_Capshaw': (4.29, 0.03605551275463999),
 'Carlo_Collodi': (3.83, nan),
 'Carlos_Castaneda': (3.91, nan),
 'Carlos_Rivera': (4.53, nan),
 'Carlos_Ruiz_Zaf_n': (3.89, 0.25910100990411694),
 'Carol_E_Wyer': (4.25, nan),
 'Carol_Plum_Ucci': (4.06, nan),
 'Carol_Rifka_Brunt': (4.04, nan),
 'Carol_Shields': (3.79, nan),
 'Carole_Wilkinson': (3.94, nan),
 'Carolina_Andujar': (4.32, nan),
 'Caroline_B_Cooney': (3.7, nan),
 'Carolyn_Jessop': (3.94, nan),
 'Carolyn_Keene': (3.935, 0.0212132034355966),
 'Carolyn_Turgeon': (3.6, nan),
 'Carrie_Jones': (3.9033333333333338, 0.16502525059315412),
 'Carrie_Ryan': (3.8633333333333333, 0.22744962812309308),
 'Carrie_Vaughn': (3.66, nan),
 'Carson_McCullers': (3.9133333333333336, 0.11239810200058233),
 'Cassandra_Clare': (4.428461538461539, 0.18876114332872967),
 'Cat_Clarke': (3.85, 0.1131370849898477),
 'Cat_Patrick': (3.825, 0.007071067811865638),
 'Cate_Tiernan': (4.085, 0.07778174593051983),
 'Cath_Crowley': (3.89, nan),
 'Catherine_Anderson': (4.21, 0.05873670062235346),
 'Catherine_Fisher': (3.67, 0.04242640687119289),
 'Catherine_Gilbert_Murdock': (3.72, nan),
 'Catherine_Hardwicke': (4.13, nan),
 'Catherine_Jinks': (3.79, nan),
 'Catherine_Marshall': (4.16, nan),
 'Catherynne_M_Valente': (4.096666666666667, 0.09451631252505201),
 'Cecelia_Ahern': (3.85, 0.12708265027138832),
 'Cecily_von_Ziegesar': (3.6233333333333335, 0.13613718571108077),
 'Celia_Rees': (3.82, nan),
 'Celso_Cukierkorn': (4.15, nan),
 'Chad_Harbach': (3.99, nan),
 'Chaim_Potok': (4.05, 0.10099504938362074),
 'Chanda_Hahn': (3.995, 0.16263455967290624),
 'Charlaine_Harris': (3.987499999999999, 0.2074126322093232),
 'Charles_Baudelaire': (4.295, 0.049497474683058526),
 'Charles_Bukowski': (3.966666666666667, 0.16120380475245202),
 'Charles_C_Mann': (4.01, nan),
 'Charles_Darwin': (3.94, nan),
 'Charles_Dickens': (3.852666666666666, 0.1682458518557491),
 'Charles_Frazier': (3.685, 0.12020815280171303),
 'Charles_H_Spurgeon': (4.49, nan),
 'Charles_M_Sheldon': (4.12, nan),
 'Charles_Palliser': (4.05, nan),
 'Charles_Portis': (4.11, nan),
 'Charles_de_Lint': (4.3, nan),
 'Charlie_Higson': (4.06, nan),
 'Charlotte_Bront_': (3.813333333333334, 0.22368132093076837),
 'Charlotte_Perkins_Gilman': (3.97, nan),
 'Chelsea_Bellingeri': (4.25, 0.15684387141358128),
 'Chelsea_Fine': (3.99, nan),
 'Chelsea_Handler': (3.8049999999999997, 0.03535533905932756),
 'Chelsea_M_Cameron': (4.05, nan),
 'Cherie_Currie': (3.92, nan),
 'Cherie_Priest': (3.51, nan),
 'Cheryl_McIntyre': (4.28, nan),
 'Cheryl_Strayed': (3.91, nan),
 'Chetan_Bhagat': (3.415, 0.06363961030678918),
 'Chevy_Stevens': (3.94, nan),
 'Chimamanda_Ngozi_Adichie': (4.21, nan),
 'China_Mi_ville': (3.955, 0.1299999999999999),
 'Chinua_Achebe': (3.55, nan),
 'Chitra_Banerjee_Divakaruni': (3.76, 0.41012193308819733),
 'Chloe_Neill': (4.1579999999999995, 0.07395944834840242),
 'Chris_Bohjalian': (3.653333333333333, 0.2510644007686741),
 'Chris_Cleave': (3.66, nan),
 'Chris_Colfer': (4.166666666666667, 0.2829016319029164),
 'Chris_Crutcher': (3.9699999999999998, 0.014142135623730963),
 'Chris_Kyle': (3.95, nan),
 'Chris_Lange': (4.93, nan),
 'Chris_Thrall': (3.75, nan),
 'Chris_Titus': (3.64, nan),
 'Chris_Van_Allsburg': (4.26, nan),
 'Chris_Ware': (4.11, nan),
 'Chris_Wooding': (4.023333333333333, 0.06506407098647707),
 'Chris_d_Lacey': (3.9159999999999995, 0.14293355099485924),
 'Christina_Baker_Kline': (4.07, nan),
 'Christina_Dodd': (4.19, nan),
 'Christina_Lauren': (4.175, 0.1343502884254437),
 'Christina_Mercer': (4.22, nan),
 'Christina_Schwarz': (3.69, nan),
 'Christine_Feehan': (4.1739999999999995, 0.10784247771634307),
 'Christine_M_Knight': (4.18, 0.21213203435596412),
 'Christine_Sparks': (3.86, nan),
 'Christine_Zolendz': (4.115, 0.03535533905932725),
 'Christopher_Barzak': (4.09, nan),
 'Christopher_Hitchens': (3.92, nan),
 'Christopher_Marlowe': (3.77, nan),
 'Christopher_McDougall': (4.28, nan),
 'Christopher_Moore': (3.91875, 0.1851977707363516),
 'Christopher_Paolini': (4.072857142857143, 0.2016361645567154),
 'Christopher_Paul_Curtis': (3.91, nan),
 'Christopher_Pike': (4.031666666666667, 0.13044794619566344),
 'Christopher_Rice': (3.89, nan),
 'Christopher_Shields': (4.15, 0.07071067811865513),
 'Chuck_Dixon': (4.48, nan),
 'Chuck_Klosterman': (3.79, 0.0707106781186545),
 'Chuck_Palahniuk': (3.7975000000000003, 0.22017849901516612),
 'Cinda_Williams_Chima': (4.248571428571428, 0.18809825193486618),
 'Cindy_C_Bennett': (4.09, nan),
 'Cindy_Springsteen': (4.77, nan),
 'Claire_LaZebnik': (3.75, nan),
 'Clare_B_Dunkle': (4.13, nan),
 'Clare_Vanderpool': (4.01, nan),
 'Clarice_Lispector': (3.95, nan),
 'Clarissa_Pinkola_Est_s': (4.11, nan),
 'Claude_Brown': (4.3, nan),
 'Claudia_Gray': (3.81, 0.09949874371066192),
 'Clay_Griffith': (3.87, nan),
 'Clement_C_Moore': (4.34, nan),
 'Clive_Barker': (4.108, 0.056302753041037115),
 'Clive_Cussler': (3.925, 0.007071067811865638),
 'Colleen_Hoover': (4.3862499999999995, 0.08034523721327322),
 'Colleen_Houck': (4.3325, 0.13671747023210548),
 'Colleen_McCullough': (4.109999999999999, 0.09899494936611643),
 'Collette_Sinclaire': (4.48, 0.18384776310850284),
 'Colum_McCann': (3.9, 0.0),
 'Conn_Iggulden': (4.286666666666666, 0.015275252316519626),
 'Connie_May_Fowler': (3.96, nan),
 'Connie_Willis': (4.0, 0.1705872210923196),
 'Conor_Grennan': (4.26, nan),
 'Cora_Carmack': (3.91, 0.1272792206135787),
 'Cormac_McCarthy': (4.086666666666667, 0.17014699527173546),
 'Cornelia_Funke': (3.931666666666667, 0.11160943807163755),
 'Cornelius_Ryan': (4.3, nan),
 'Corrie_ten_Boom': (4.41, nan),
 'Cory_Doctorow': (3.95, nan),
 'Courtney_Allison_Moulton': (4.115, 0.23334523779156074),
 'Courtney_Summers': (3.83, 0.09899494936611673),
 'Craig_Clevenger': (4.01, nan),
 'Craig_Silvey': (4.01, nan),
 'Craig_Thompson': (4.035, 0.03535533905932725),
 'Cristiane_Serruya': (4.16, 0.18734993995195165),
 'Crockett_Johnson': (4.23, nan),
 'Cupcake_Brown': (4.11, nan),
 'Curtis_Sittenfeld': (3.32, nan),
 'Cynthia_Collins': (4.64, nan),
 'Cynthia_Hand': (4.16, 0.03605551275463999),
 'Cynthia_Kadohata': (3.87, nan),
 'Cynthia_Lord': (3.95, nan),
 'Cynthia_Voigt': (3.9000000000000004, 0.014142135623730963),
 'D_B_C_Pierre': (3.54, nan),
 'D_B_Shan': (3.92, nan),

<div class="exercise"><b>Exercise</b></div>

Lets get the best-rated book(s) for every year in our dataframe.

In [170]:
# Group by year
dfgb_year = df.groupby('year')
dfgb_year.describe()

      rating                                                        review_count                                                                      rating_count
       count      mean       std   min     25%    50%     75%   max        count         mean          std     min     25%     50%      75%       max        count           mean            std       min        25%       50%        75%        max
year
-1500    1.0  3.600000       NaN  3.60  3.6000  3.600  3.6000  3.60          1.0  1644.000000          NaN  1644.0  1644.0  1644.0  1644.00    1644.0          1.0   42026.000000            NaN   42026.0   42026.00   42026.0   42026.00    42026.0
-800     2.0  3.845000  0.233345  3.68  3.7625  3.845  3.9275  4.01          2.0  3075.000000  3832.518754   365.0  1720.0  3075.0  4430.00    5785.0          2.0  297685.500000  371319.448471   35123.0  166404.25  297685.5  428966.75   560248.0
-560     1.0  4.030000       NaN  4.03  4.0300  4.030  4.0300  4.03          1.0   890.000000          NaN   890.0   890.0   890.0   890.00     890.0          1.0   71259.000000            NaN   71259.0   71259.00   71259.0   71259.00    71259.0
-512     1.0  3.920000       NaN  3.92  3.9200  3.920  3.9200  3.92          1.0  3559.000000          NaN  3559.0  3559.0  3559.0  3559.00    3559.0          1.0  114619.000000            NaN  114619.0  114619.00  114619.0  114619.00   114619.0
-500     1.0  4.060000       NaN  4.06  4.0600  4.060  4.0600  4.06          1.0  1087.000000          NaN  1087.0  1087.0  1087.0  1087.00    1087.0          1.0   31634.000000            NaN   31634.0   31634.00   31634.0   31634.00    31634.0
...      ...       ...       ...   ...     ...    ...     ...   ...          ...          ...          ...     ...     ...     ...      ...       ...          ...            ...            ...       ...        ...       ...        ...        ...
 2010  317.0  4.046341  0.241775  3.08  3.8900  4.030  4.2000  4.93        317.0  2695.466877  6013.533198     0.0   583.0  1205.0  2800.00   83643.0        317.0   34873.738170   85223.744788      12.0    8257.00   17762.0   33320.00  1316704.0
 2011  374.0  4.067166  0.269598  2.00  3.9100  4.085  4.2475  5.00        374.0  3165.788770  6590.347074     0.0   567.0  1347.5  3392.75   82098.0        374.0   36757.652406   88235.558577       9.0    6763.00   15761.5   36190.75  1127983.0
 2012  355.0  4.154169  0.293960  3.15  3.9600  4.160  4.3400  5.00        355.0  3374.735211  8616.898114     0.0   320.0  1423.0  3400.00  112279.0        355.0   34245.698592   85374.157344       6.0    3132.50   15955.0   35518.50  1150626.0
 2013  276.0  4.200978  0.287850  2.90  4.0400  4.230  4.3725  4.93        276.0  2477.271739  4610.929059     1.0    78.5  1346.5  2616.50   47308.0        276.0   20527.981884   35280.487254       7.0     251.00   11233.0   24611.50   358301.0
 2014   87.0  4.349655  0.349613  3.31  4.1400  4.370  4.5900  5.00         87.0  1532.436782  2307.469916     1.0    22.0   273.0  2396.50   11011.0         87.0    9262.678161   14208.785183       5.0      51.00     792.0   13499.00    69924.0

[293 rows x 24 columns]

In [178]:
bestbooks_by_year =[]
for year, subset in dfgb_year:
    bestbook = subset[subset.rating==subset.rating.max()]
    temp = [year,bestbook.name.values,bestbook.rating.values]
    bestbooks_by_year.append(temp)
bestbooks_by_year

[[-1500, array(['The Epic of Gilgamesh'], dtype=object), array([3.6])],
 [-800, array(['The Iliad/The Odyssey'], dtype=object), array([4.01])],
 [-560, array(["Aesop's Fables"], dtype=object), array([4.03])],
 [-512, array(['The Art of War'], dtype=object), array([3.92])],
 [-500, array(['The Bhagavad Gita'], dtype=object), array([4.06])],
 [-458, array(['The Oresteia'], dtype=object), array([3.96])],
 [-442, array(['Antigone'], dtype=object), array([3.52])],
 [-440, array(['The Histories'], dtype=object), array([3.94])],
 [-431, array(['Medea'], dtype=object), array([3.8])],
 [-429, array(['Oedipus Rex'], dtype=object), array([3.64])],
 [-411,
  array(['The History of the Peloponnesian War'], dtype=object),
  array([3.84])],
 [-400, array(['Complete Works'], dtype=object), array([4.3])],
 [-390, array(['Apology'], dtype=object), array([4.11])],
 [-380, array(['The Republic'], dtype=object), array([3.85])],
 [-370, array(['The Symposium'], dtype=object), array([3.99])],
 [-360, array(['Five Dialogues'], dtype=object), array([4.07])],
 [-350, array(['The Nicomachean Ethics'], dtype=object), array([3.88])],
 [-29, array(['The Aeneid'], dtype=object), array([3.77])],
 [4,
  array(['The Seven Spiritual Laws of Success'], dtype=object),
  array([4.04])],
 [8, array(['Metamorphoses'], dtype=object), array([4.01])],
 [13, array(['The Day Jesus Rode Into Croydon'], dtype=object), array([3.85])],
 [100, array(['The New Oxford Annotated Bible, New Revised Standard Version'],
        dtype=object), array([4.3])],
 [121, array(['The Twelve Caesars'], dtype=object), array([4.02])],
 [130, array(['Holy Bible'], dtype=object), array([4.45])],
 [158, array(['The Golden Ass'], dtype=object), array([3.88])],
 [174, array(['Meditations'], dtype=object), array([4.16])],
 [200, array(['The Garden of Eden'], dtype=object), array([3.75])],
 [201, array(['Fe Fi FOE Comes'], dtype=object), array([4.37])],
 [213, array(['NaÃ¯ve. Super'], dtype=object), array([3.9])],
 [397, array(['Confessions'], dtype=object), array([3.82])],
 [632, array(['The Quran'], dtype=object), array([4.37])],
 [800, array(['Beowulf'], dtype=object), array([3.38])],
 [900, array(['The Arabian Nights'], dtype=object), array([4.04])],
 [968,
  array(['La BÃªte humaine (Les Rougon-Macquart, #17)'], dtype=object),
  array([4.02])],
 [1002, array(['The Pillow Book'], dtype=object), array([4.04])],
 [1008, array(['The Tale of Genji'], dtype=object), array([3.68])],
 [1010, array(['Shahnameh'], dtype=object), array([4.52])],
 [1100, array(['Rubaiyat of Omar Khayyam'], dtype=object), array([4.22])],
 [1106, array(['The TÃ¡in'], dtype=object), array([3.98])],
 [1140, array(['Poema de MÃ\xado Cid'], dtype=object), array([3.42])],
 [1200, array(['The Poetic Edda'], dtype=object), array([4.24])],
 [1215,
  array(['Ù\x85Ø«Ù\x86Ù\x88Û\x8c Ù\x85Ø¹Ù\x86Ù\x88Û\x8c'], dtype=object),
  array([4.44])],
 [1220, array(['The Prose Edda'], dtype=object), array([4.16])],
 [1300, array(['The Imitation of Christ'], dtype=object), array([4.16])],
 [1314,
  array(['Inferno (The Divine Comedy, #1)'], dtype=object),
  array([3.96])],
 [1321, array(['The Divine Comedy'], dtype=object), array([4.04])],
 [1348, array(['The Decameron'], dtype=object), array([3.85])],
 [1386, array(['Auto-da-FÃ©'], dtype=object), array([4.04])],
 [1390,
  array(['Sir Gawain and the Green Knight'], dtype=object),
  array([3.66])],
 [1391, array(['Keep the Aspidistra Flying'], dtype=object), array([3.86])],
 [1485, array(["Le Morte d'Arthur"], dtype=object), array([3.91])],
 [1516, array(['Utopia'], dtype=object), array([3.46])],
 [1522, array(['Three Kingdoms'], dtype=object), array([4.41])],
 [1532, array(['The Prince'], dtype=object), array([3.72])],
 [1572, array(['The Complete Essays'], dtype=object), array([4.21])],
 [1589, array(['Titus Andronicus'], dtype=object), array([3.7])],
 [1590, array(['The Taming of the Shrew'], dtype=object), array([3.82])],
 [1592, array(['Monkey'], dtype=object), array([4.04])],
 [1595, array(["A Midsummer Night's Dream"], dtype=object), array([3.93])],
 [1597, array(['Richard III'], dtype=object), array([3.9])],
 [1599, array(['Much Ado About Nothing'], dtype=object), array([4.05])],
 [1600, array(['Henry V'], dtype=object), array([3.85])],
 [1601, array(['Twelfth Night'], dtype=object), array([3.95])],
 [1602, array(['Hamlet'], dtype=object), array([3.98])],
 [1603, array(['Othello'], dtype=object), array([3.86])],
 [1604, array(['Doctor Faustus'], dtype=object), array([3.77])],
 [1605, array(['King Lear'], dtype=object), array([3.88])],
 [1606, array(['Antony and Cleopatra'], dtype=object), array([3.64])],
 [1608, array(['Coriolanus'], dtype=object), array([3.65])],
 [1609, array(["Shakespeare's Sonnets"], dtype=object), array([4.24])],
 [1611, array(['Holy Bible'], dtype=object), array([4.39])],
 [1621, array(['The Anatomy of Melancholy'], dtype=object), array([4.21])],
 [1623, array(['The Complete Works'], dtype=object), array([4.5])],
 [1635, array(['La vida es sueÃ±o'], dtype=object), array([3.98])],
 [1642, array(['A Book of Five Rings'], dtype=object), array([4.11])],
 [1667, array(['Paradise Lost'], dtype=object), array([3.77])],
 [1678, array(["The Pilgrim's Progress"], dtype=object), array([3.92])],
 [1680, array(['The Divan'], dtype=object), array([4.65])],
 [1691,
  array(['The Practice of the Presence of God'], dtype=object),
  array([4.31])],
 [1719, array(['Robinson Crusoe'], dtype=object), array([3.62])],
 [1721, array(['Moll Flanders'], dtype=object), array([3.45])],
 [1726, array(["Gulliver's Travels"], dtype=object), array([3.52])],
 [1729,
  array(['A Modest Proposal and Other Satirical Works'], dtype=object),
  array([4.03])],
 [1748,
  array(['Clarissa, or, the History of a Young Lady'], dtype=object),
  array([3.28])],
 [1749,
  array(['The History of Tom Jones, a Foundling'], dtype=object),
  array([3.72])],
 [1759, array(['Candide'], dtype=object), array([3.74])],
 [1767, array(['The Life and Opinions of Tristram Shandy, Gentleman'],
        dtype=object), array([3.76])],
 [1774, array(['The Sorrows of Young Werther'], dtype=object), array([3.59])],
 [1776,
  array(['The Declaration of Independence and The Constitution of the United States'],
        dtype=object),
  array([4.44])],
 [1778, array(['Evelina'], dtype=object), array([3.62])],
 [1781, array(['Critique of Pure Reason'], dtype=object), array([3.85])],
 [1782, array(['Les Liaisons Dangereuses'], dtype=object), array([4.08])],
 [1787,
  array(['The Constitution of the United States of America'], dtype=object),
  array([4.52])],
 [1790,
  array(['The Marriage of Heaven and Hell'], dtype=object),
  array([4.27])],
 [1791, array(['Dream of the Red Chamber'], dtype=object), array([4.05])],
 [1794,
  array(['Songs of Innocence and of Experience'], dtype=object),
  array([4.11])],
 [1795, array(['The Monk'], dtype=object), array([3.77])],
 [1798, array(['Lyrical Ballads'], dtype=object), array([3.92])],
 [1806, array(['Phenomenology of Spirit'], dtype=object), array([3.85])],
 [1811, array(['Sense and Sensibility'], dtype=object), array([4.04])],
 [1812,
  array(["The Complete Grimm's Fairy Tales"], dtype=object),
  array([4.29])],
 [1813, array(['Pride and Prejudice'], dtype=object), array([4.23])],
 [1814, array(['Mansfield Park'], dtype=object), array([3.79])],
 [1815, array(['Emma'], dtype=object), array([3.97])],
 [1817, array(['Persuasion'], dtype=object), array([4.12])],
 [1818, array(['Frankenstein'], dtype=object), array([3.7])],
 [1819, array(['Ivanhoe'], dtype=object), array([3.71])],
 [1820, array(['The Legend of Sleepy Hollow'], dtype=object), array([3.94])],
 [1823, array(['The Night Before Christmas'], dtype=object), array([4.34])],
 [1824, array(['Don Juan'], dtype=object), array([3.79])],
 [1825, array(['Eugene Onegin'], dtype=object), array([4.03])],
 [1826, array(['The Last of the Mohicans (The Leatherstocking Tales #2)'],
        dtype=object), array([3.67])],
 [1830, array(['The Book of Mormon'], dtype=object), array([4.42])],
 [1831, array(['The Hunchback of Notre-Dame'], dtype=object), array([3.93])],
 [1832, array(['Faust'], dtype=object), array([3.98])],
 [1833, array(['Poetry'], dtype=object), array([4.04])],
 [1834, array(['PÃ¨re Goriot'], dtype=object), array([3.79])],
 [1835, array(['Hymns of The Church of Jesus Christ of Latter-day Saints'],
        dtype=object), array([4.68])],
 [1837,
  array(['A Season in Hell/The Drunken Boat'], dtype=object),
  array([4.34])],
 [1839, array(['A Hero of Our Time'], dtype=object), array([4.09])],
 [1840,
  array(['Tales of Mystery and Imagination'], dtype=object),
  array([4.2])],
 [1841, array(['The Old Curiosity Shop'], dtype=object), array([3.69])],
 [1842, array(['The pit and the pendulum and other stories (Penguin 60s)'],
        dtype=object), array([4.12])],
 [1843, array(['Lost Illusions'], dtype=object), array([4.14])],
 [1844, array(['The Raven'], dtype=object), array([4.23])],
 [1845, array(['The Raven and Other Poems'], dtype=object), array([4.27])],
 [1847, array(['Jane Eyre'], dtype=object), array([4.07])],
 [1848,
  array(['White Nights and Other Stories'], dtype=object),
  array([4.09])],
 [1849, array(['The Law'], dtype=object), array([4.4])],
 [1850, array(['Ishmael'], dtype=object), array([4.4])],
 [1851, array(['Paris Spleen'], dtype=object), array([4.33])],
 [1852, array(["Uncle Tom's Cabin"], dtype=object), array([3.77])],
 [1853,
  array(['The History of Joseph Smith by His Mother'], dtype=object),
  array([4.37])],
 [1854, array(['Walden & Civil Disobedience'], dtype=object), array([3.97])],
 [1855, array(['North and South'], dtype=object), array([4.13])],
 [1856, array(['Song of Myself'], dtype=object), array([4.17])],
 [1857, array(['Les Fleurs du Mal'], dtype=object), array([4.26])],
 [1859, array(['The Origin of Species'], dtype=object), array([3.94])],
 [1860, array(['Stepping Heavenward'], dtype=object), array([4.27])],
 [1861, array(['Notes from Underground'], dtype=object), array([4.14])],
 [1862, array(['Les MisÃ©rables'], dtype=object), array([4.09])],
 [1863, array(['From the Earth to the Moon (Extraordinary Voyages, #4)'],
        dtype=object), array([3.76])],
 [1864, array(['Our Mutual Friend'], dtype=object), array([4.08])],
 [1865, array(["Alice's Adventures in Wonderland & Through the Looking-Glass",
         'Wives and Daughters'], dtype=object), array([4.05, 4.05])],
 [1866, array(['Morning and Evening, Based on the English Standard Version'],
        dtype=object), array([4.49])],
 [1867,
  array(['Capital, Volume 1 (Das Kapital, #1)'], dtype=object),
  array([4.15])],
 [1868, array(['Little Women (Little Women, #1)'], dtype=object), array([4.])],
 [1869, array(['The Idiot'], dtype=object), array([4.15])],
 [1870, array(['Complete Works'], dtype=object), array([4.42])],
 [1871,
  array(["Through the Looking-Glass, and What Alice Found There (Alice's Adventures in Wonderland #2)"],
        dtype=object),
  array([4.09])],
 [1872, array(['Middlemarch'], dtype=object), array([3.89])],
 [1873,
  array(['Around the World in Eighty Days'], dtype=object),
  array([3.87])],
 [1874, array(['The Complete Fairy Tales'], dtype=object), array([4.27])],
 [1875, array(['Illuminations'], dtype=object), array([4.42])],
 [1876, array(['The Adventures of Tom Sawyer'], dtype=object), array([3.86])],
 [1877,
  array(["L'Assommoir (The Dram Shop) (The Dram Shop) (Les Rougon-Macquart, #7)"],
        dtype=object),
  array([4.05])],
 [1878, array(['Human, All Too Human'], dtype=object), array([4.2])],
 [1879, array(['Sir Gibbie'], dtype=object), array([4.25])],
 [1880, array(['The Brothers Karamazov'], dtype=object), array([4.28])],
 [1881, array(['The Prince and the Pauper'], dtype=object), array([3.81])],
 [1882, array(['The Gay Science'], dtype=object), array([4.23])],
 [1883, array(['Thus Spoke Zarathustra'], dtype=object), array([4.03])],
 [1884, array(['The Death of Ivan Ilych'], dtype=object), array([3.98])],
 [1885,
  array(['Germinal (Les Rougon-Macquart, #13)'], dtype=object),
  array([4.05])],
 [1886, array(['Beyond Good and Evil'], dtype=object), array([4.])],
 [1887,
  array(['A Study in Scarlet (Sherlock Holmes, #1)'], dtype=object),
  array([4.13])],
 [1888, array(['The Complete Fairy Tales', 'The Nightingale and the Rose'],
        dtype=object), array([4.33, 4.33])],
 [1889, array(['The Collected Poems'], dtype=object), array([4.25])],
 [1890, array(['Hunger'], dtype=object), array([4.11])],
 [1891, array(['A Scandal in Bohemia (The Adventures of Sherlock Holmes, #1)'],
        dtype=object), array([4.22])],
 [1892, array(['The Adventures of Sherlock Holmes (Sherlock Holmes, #3)'],
        dtype=object), array([4.27])],
 [1893, array(['The Memoirs of Sherlock Holmes (Sherlock Holmes, #4)'],
        dtype=object), array([4.33])],
 [1894, array(['The Jungle Books'], dtype=object), array([3.97])],
 [1895,
  array(['The Importance of Being Earnest and Other Plays'], dtype=object),
  array([4.24])],
 [1896, array(['Story of a Soul'], dtype=object), array([4.36])],
 [1897,
  array(['De Profundis and Other Writings'], dtype=object),
  array([4.19])],
 [1898, array(['The War of the Worlds'], dtype=object), array([3.75])],
 [1899,
  array(['The Complete Works of William Shakespeare'], dtype=object),
  array([4.62])],
 [1900, array(['Selected Stories'], dtype=object), array([4.35])],
 [1901, array(['The Tale of Peter Rabbit'], dtype=object), array([4.14])],
 [1902, array(['Holy Bible'], dtype=object), array([4.66])],
 [1903, array(['The Scarlet Pimpernel'], dtype=object), array([4.05])],
 [1904, array(['The Return of Sherlock Holmes (Sherlock Holmes, #6)'],
        dtype=object), array([4.27])],
 [1905, array(['A Little Princess'], dtype=object), array([4.19])],
 [1906,
  array(["The Unabridged Devil's Dictionary"], dtype=object),
  array([4.15])],
 [1907, array(['The Shepherd of the Hills'], dtype=object), array([4.14])],
 [1908,
  array(['The Complete Anne of Green Gables Boxed Set (Anne of Green Gables, #1-8)'],
        dtype=object),
  array([4.42])],
 [1909, array(['Martin Eden'], dtype=object), array([4.31])],
 [1910, array(['Gitanjali'], dtype=object), array([4.33])],
 [1911, array(['The Secret Garden'], dtype=object), array([4.09])],
 [1912,
  array(['Daddy-Long-Legs (Daddy-Long-Legs, #1)'], dtype=object),
  array([4.07])],
 [1913,
  array(['In the Shadow of Young Girls in Flower (In Search of Lost Time, #2)'],
        dtype=object),
  array([4.39])],
 [1914,
  array(['Rashomon and Seventeen Other Stories'], dtype=object),
  array([4.1])],
 [1915, array(['Jesus the Christ'], dtype=object), array([4.66])],
 [1916, array(['The Mysterious Stranger'], dtype=object), array([4.14])],
 [1917,
  array(["Anne's House of Dreams (Anne of Green Gables, #5)"], dtype=object),
  array([4.1])],
 [1918, array(['The Elements of Style'], dtype=object), array([4.17])],
 [1919, array(['Remembrance of Things Past'], dtype=object), array([4.28])],
 [1920, array(['The Guermantes Way'], dtype=object), array([4.33])],
 [1921,
  array(['Rilla of Ingleside (Anne of Green Gables, #8)'], dtype=object),
  array([4.13])],
 [1922, array(['Remembrance of Things Past'], dtype=object), array([4.53])],
 [1923, array(['Leave It to Psmith (Psmith, #4 ; Blandings Castle, #2)'],
        dtype=object), array([4.28])],
 [1924, array(['The Complete Sherlock Holmes'], dtype=object), array([4.49])],
 [1925, array(['The Captive & The Fugitive (In Search of Lost Time, #5-6)'],
        dtype=object), array([4.41])],
 [1926, array(['The World of Winnie-the-Pooh'], dtype=object), array([4.41])],
 [1927,
  array(['Time Regained (In Search of Lost Time, #7)'], dtype=object),
  array([4.5])],
 [1928, array(['The House at Pooh Corner'], dtype=object), array([4.35])],
 [1929, array(['Letters to a Young Poet'], dtype=object), array([4.35])],
 [1930,
  array(['The Complete Sherlock Holmes, Volume II'], dtype=object),
  array([4.44])],
 [1931, array(['The Joy of Cooking'], dtype=object), array([4.15])],
 [1932,
  array(['Journey to the End of the Night'], dtype=object),
  array([4.25])],
 [1933, array(['The Complete Novels'], dtype=object), array([4.54])],
 [1934, array(['I, Claudius/Claudius the God'], dtype=object), array([4.42])],
 [1935, array(['Musashi'], dtype=object), array([4.41])],
 [1936, array(['Three Comrades'], dtype=object), array([4.48])],
 [1937, array(['The Cost of Discipleship'], dtype=object), array([4.35])],
 [1938, array(['The Science of Mind'], dtype=object), array([4.39])],
 [1939, array(['Arch of Triumph'], dtype=object), array([4.39])],
 [1940, array(['The Little Prince'], dtype=object), array([4.23])],
 [1941, array(['Ø¹Ø¨Ù\x82Ø±Ù\x8aØ© Ø¹Ù\x85Ø±'], dtype=object), array([4.25])],
 [1942, array(['The Little House'], dtype=object), array([4.27])],
 [1943, array(['KÃ¼rk Mantolu Madonna'], dtype=object), array([4.55])],
 [1944, array(['Ficciones'], dtype=object), array([4.48])],
 [1945, array(['The Aleph and Other Stories'], dtype=object), array([4.41])],
 [1946, array(['The Complete Stories'], dtype=object), array([4.34])],
 [1947, array(['Survival in Auschwitz'], dtype=object), array([4.32])],
 [1948, array(['King of the Wind'], dtype=object), array([4.17])],
 [1949, array(['Paroles'], dtype=object), array([4.27])],
 [1950,
  array(['à®ªà¯\x8aà®©à¯\x8dà®©à®¿à®¯à®¿à®©à¯\x8d à®\x9aà¯\x86à®²à¯\x8dà®µà®©à¯\x8d [Ponniyin Selvan]'],
        dtype=object),
  array([4.71])],
 [1951,
  array(['The Foundation Trilogy (Foundation, #1-3)'], dtype=object),
  array([4.37])],
 [1952, array(['Holy Bible'], dtype=object), array([4.55])],
 [1953,
  array(['The Flight of the Feathered Serpent'], dtype=object),
  array([4.55])],
 [1954,
  array(['The Return of the King (The Lord of the Rings, #3)'], dtype=object),
  array([4.48])],
 [1955, array(['Les rois maudits Vols 1-7'], dtype=object), array([4.44])],
 [1956, array(['Through Gates of Splendor'], dtype=object), array([4.37])],
 [1957,
  array(['The Cairo Trilogy (The Cairo Trilogy #1-3)'], dtype=object),
  array([4.46])],
 [1958, array(['Exodus'], dtype=object), array([4.31])],
 [1959,
  array(['Life and Fate', '100 Love Sonnets'], dtype=object),
  array([4.44, 4.44])],
 [1960, array(['The Annotated Alice'], dtype=object), array([4.48])],
 [1961,
  array(['New World Translation of the Holy Scriptures'], dtype=object),
  array([4.59])],
 [1962, array(['Labyrinths'], dtype=object), array([4.47])],
 [1963, array(['The Civil War'], dtype=object), array([4.58])],
 [1964,
  array(['The Feynman Lectures on Physics'], dtype=object),
  array([4.57])],
 [1965, array(['Manchild in the Promised Land'], dtype=object), array([4.3])],
 [1966,
  array(['The Disorderly Knights (The Lymond Chronicles, #3)'], dtype=object),
  array([4.57])],
 [1967,
  array(['The Master and Margarita', 'The Forgotten Soldier'], dtype=object),
  array([4.33, 4.33])],
 [1968, array(['The Proper Role of Government'], dtype=object), array([4.49])],
 [1969,
  array(['Pawn in Frankincense (The Lymond Chronicles, #4)'], dtype=object),
  array([4.64])],
 [1970, array(['The Fortress'], dtype=object), array([4.67])],
 [1971, array(['Tutunamayanlar'], dtype=object), array([4.61])],
 [1972, array(['Le Monogramme'], dtype=object), array([4.78])],
 [1973,
  array(['J.R.R. Tolkien 4-Book Boxed Set'], dtype=object),
  array([4.58])],
 [1974, array(['The Power Broker'], dtype=object), array([4.51])],
 [1975,
  array(['Checkmate (The Lymond Chronicles, #6)'], dtype=object),
  array([4.71])],
 [1976, array(['Roots'], dtype=object), array([4.39])],
 [1977, array(["A Lover's Discourse"], dtype=object), array([4.37])],
 [1978, array(['The Best of Roald Dahl'], dtype=object), array([4.38])],
 [1979, array(['GÃ¶del, Escher, Bach'], dtype=object), array([4.29])],
 [1980, array(['Cosmos'], dtype=object), array([4.35])],
 [1981, array(['The Lord God Made Them All'], dtype=object), array([4.36])],
 [1982, array(['The Book of Disquiet'], dtype=object), array([4.52])],
 [1983, array(['Essays and Lectures'], dtype=object), array([4.27])],
 [1984,

In [173]:
df.sort_values(by='rating',ascending=False).iloc[0];
#authors.sort_values(by='num_books', ascending=False).iloc[0]

In [179]:
#Using .groupby, we can divide the dataframe into subsets by the values of 'year'.
#We can then iterate over these subsets
# your code here
for year, subset in df.groupby('year'):
    #Find the best book of the year

    bestbook = subset[subset.rating == subset.rating.max()]
    if bestbook.shape[0] > 1:
        print(year, bestbook.name.values, bestbook.rating.values)
    else:
        print(year, bestbook.name.values[0], bestbook.rating.values[0])

-1500 The Epic of Gilgamesh 3.6
-800 The Iliad/The Odyssey 4.01
-560 Aesop's Fables 4.03
-512 The Art of War 3.92
-500 The Bhagavad Gita 4.06
-458 The Oresteia 3.96
-442 Antigone 3.52
-440 The Histories 3.94
-431 Medea 3.8
-429 Oedipus Rex 3.64
-411 The History of the Peloponnesian War 3.84
-400 Complete Works 4.3
-390 Apology 4.11
-380 The Republic 3.85
-370 The Symposium 3.99
-360 Five Dialogues 4.07
-350 The Nicomachean Ethics 3.88
-29 The Aeneid 3.77
4 The Seven Spiritual Laws of Success 4.04
8 Metamorphoses 4.01
13 The Day Jesus Rode Into Croydon 3.85
100 The New Oxford Annotated Bible, New Revised Standard Version 4.3
121 The Twelve Caesars 4.02
130 Holy Bible 4.45
158 The Golden Ass 3.88
174 Meditations 4.16
200 The Garden of Eden 3.75
201 Fe Fi FOE Comes 4.37
213 NaÃ¯ve. Super 3.9
397 Confessions 3.82
632 The Quran 4.37
800 Beowulf 3.38
900 The Arabian Nights 4.04
968 La BÃªte humaine (Les Rougon-Macquart, #17) 4.02
1002 The Pillow Book 4.04
1008 The Tale of Genji 3.68
1010 Shahnameh 4.52
1100 Rubaiyat of Omar Khayyam 4.22
1106 The TÃ¡in 3.98
1140 Poema de MÃ­o Cid 3.42
1200 The Poetic Edda 4.24
1215 ÙØ«ÙÙÛ ÙØ¹ÙÙÛ 4.44
1220 The Prose Edda 4.16
1300 The Imitation of Christ 4.16
1314 Inferno (The Divine Comedy, #1) 3.96
1321 The Divine Comedy 4.04
1348 The Decameron 3.85
1386 Auto-da-FÃ© 4.04
1390 Sir Gawain and the Green Knight 3.66
1391 Keep the Aspidistra Flying 3.86
1485 Le Morte d'Arthur 3.91
1516 Utopia 3.46
1522 Three Kingdoms 4.41
1532 The Prince 3.72
1572 The Complete Essays 4.21
1589 Titus Andronicus 3.7
1590 The Taming of the Shrew 3.82
1592 Monkey 4.04
1595 A Midsummer Night's Dream 3.93
1597 Richard III 3.9
1599 Much Ado About Nothing 4.05
1600 Henry V 3.85
1601 Twelfth Night 3.95
1602 Hamlet 3.98
1603 Othello 3.86
1604 Doctor Faustus 3.77
1605 King Lear 3.88
1606 Antony and Cleopatra 3.64
1608 Coriolanus 3.65
1609 Shakespeare's Sonnets 4.24
1611 Holy Bible 4.39
1621 The Anatomy of Melancholy 4.21
1623 The Complete Works 4.5
1635 La vida es sueÃ±o 3.98
1642 A Book of Five Rings 4.11
1667 Paradise Lost 3.77
1678 The Pilgrim's Progress 3.92
1680 The Divan 4.65
1691 The Practice of the Presence of God 4.31
1719 Robinson Crusoe 3.62
1721 Moll Flanders 3.45
1726 Gulliver's Travels 3.52
1729 A Modest Proposal and Other Satirical Works 4.03
1748 Clarissa, or, the History of a Young Lady 3.28
1749 The History of Tom Jones, a Foundling 3.72
1759 Candide 3.74
1767 The Life and Opinions of Tristram Shandy, Gentleman 3.76
1774 The Sorrows of Young Werther 3.59
1776 The Declaration of Independence and The Constitution of the United States 4.44
1778 Evelina 3.62
1781 Critique of Pure Reason 3.85
1782 Les Liaisons Dangereuses 4.08
1787 The Constitution of the United States of America 4.52
1790 The Marriage of Heaven and Hell 4.27
1791 Dream of the Red Chamber 4.05
1794 Songs of Innocence and of Experience 4.11
1795 The Monk 3.77
1798 Lyrical Ballads 3.92
1806 Phenomenology of Spirit 3.85
1811 Sense and Sensibility 4.04
1812 The Complete Grimm's Fairy Tales 4.29
1813 Pride and Prejudice 4.23
1814 Mansfield Park 3.79
1815 Emma 3.97
1817 Persuasion 4.12
1818 Frankenstein 3.7
1819 Ivanhoe 3.71
1820 The Legend of Sleepy Hollow 3.94
1823 The Night Before Christmas 4.34
1824 Don Juan 3.79
1825 Eugene Onegin 4.03
1826 The Last of the Mohicans (The Leatherstocking Tales #2) 3.67
1830 The Book of Mormon 4.42
1831 The Hunchback of Notre-Dame 3.93
1832 Faust 3.98
1833 Poetry 4.04
1834 PÃ¨re Goriot 3.79
1835 Hymns of The Church of Jesus Christ of Latter-day Saints 4.68
1837 A Season in Hell/The Drunken Boat 4.34
1839 A Hero of Our Time 4.09
1840 Tales of Mystery and Imagination 4.2
1841 The Old Curiosity Shop 3.69
1842 The pit and the pendulum and other stories (Penguin 60s) 4.12
1843 Lost Illusions 4.14
1844 The Raven 4.23
1845 The Raven and Other Poems 4.27
1847 Jane Eyre 4.07
1848 White Nights and Other Stories 4.09
1849 The Law 4.4
1850 Ishmael 4.4
1851 Paris Spleen 4.33
1852 Uncle Tom's Cabin 3.77
1853 The History of Joseph Smith by His Mother 4.37
1854 Walden & Civil Disobedience 3.97
1855 North and South 4.13
1856 Song of Myself 4.17
1857 Les Fleurs du Mal 4.26
1859 The Origin of Species 3.94
1860 Stepping Heavenward 4.27
1861 Notes from Underground 4.14
1862 Les MisÃ©rables 4.09
1863 From the Earth to the Moon (Extraordinary Voyages, #4) 3.76
1864 Our Mutual Friend 4.08
1865 ["Alice's Adventures in Wonderland & Through the Looking-Glass"
 'Wives and Daughters'] [4.05 4.05]
1866 Morning and Evening, Based on the English Standard Version 4.49
1867 Capital, Volume 1 (Das Kapital, #1) 4.15
1868 Little Women (Little Women, #1) 4.0
1869 The Idiot 4.15
1870 Complete Works 4.42
1871 Through the Looking-Glass, and What Alice Found There (Alice's Adventures in Wonderland #2) 4.09
1872 Middlemarch 3.89
1873 Around the World in Eighty Days 3.87
1874 The Complete Fairy Tales 4.27
1875 Illuminations 4.42
1876 The Adventures of Tom Sawyer 3.86
1877 L'Assommoir (The Dram Shop) (The Dram Shop) (Les Rougon-Macquart, #7) 4.05
1878 Human, All Too Human 4.2
1879 Sir Gibbie 4.25
1880 The Brothers Karamazov 4.28
1881 The Prince and the Pauper 3.81
1882 The Gay Science 4.23
1883 Thus Spoke Zarathustra 4.03
1884 The Death of Ivan Ilych 3.98
1885 Germinal (Les Rougon-Macquart, #13) 4.05
1886 Beyond Good and Evil 4.0
1887 A Study in Scarlet (Sherlock Holmes, #1) 4.13
1888 ['The Complete Fairy Tales' 'The Nightingale and the Rose'] [4.33 4.33]
1889 The Collected Poems 4.25
1890 Hunger 4.11
1891 A Scandal in Bohemia (The Adventures of Sherlock Holmes, #1) 4.22
1892 The Adventures of Sherlock Holmes (Sherlock Holmes, #3) 4.27
1893 The Memoirs of Sherlock Holmes (Sherlock Holmes, #4) 4.33
1894 The Jungle Books 3.97
1895 The Importance of Being Earnest and Other Plays 4.24
1896 Story of a Soul 4.36
1897 De Profundis and Other Writings 4.19
1898 The War of the Worlds 3.75
1899 The Complete Works of William Shakespeare 4.62
1900 Selected Stories 4.35
1901 The Tale of Peter Rabbit 4.14
1902 Holy Bible 4.66
1903 The Scarlet Pimpernel 4.05
1904 The Return of Sherlock Holmes (Sherlock Holmes, #6) 4.27
1905 A Little Princess 4.19
1906 The Unabridged Devil's Dictionary 4.15
1907 The Shepherd of the Hills 4.14
1908 The Complete Anne of Green Gables Boxed Set (Anne of Green Gables, #1-8) 4.42
1909 Martin Eden 4.31
1910 Gitanjali 4.33
1911 The Secret Garden 4.09
1912 Daddy-Long-Legs (Daddy-Long-Legs, #1) 4.07
1913 In the Shadow of Young Girls in Flower (In Search of Lost Time, #2) 4.39
1914 Rashomon and Seventeen Other Stories 4.1
1915 Jesus the Christ 4.66
1916 The Mysterious Stranger 4.14
1917 Anne's House of Dreams (Anne of Green Gables, #5) 4.1
1918 The Elements of Style 4.17
1919 Remembrance of Things Past 4.28
1920 The Guermantes Way 4.33
1921 Rilla of Ingleside (Anne of Green Gables, #8) 4.13
1922 Remembrance of Things Past 4.53
1923 Leave It to Psmith (Psmith, #4 ; Blandings Castle, #2) 4.28
1924 The Complete Sherlock Holmes 4.49
1925 The Captive & The Fugitive (In Search of Lost Time, #5-6) 4.41
1926 The World of Winnie-the-Pooh 4.41
1927 Time Regained (In Search of Lost Time, #7) 4.5
1928 The House at Pooh Corner 4.35
1929 Letters to a Young Poet 4.35
1930 The Complete Sherlock Holmes, Volume II 4.44
1931 The Joy of Cooking 4.15
1932 Journey to the End of the Night 4.25
1933 The Complete Novels 4.54
1934 I, Claudius/Claudius the God 4.42
1935 Musashi 4.41
1936 Three Comrades 4.48
1937 The Cost of Discipleship 4.35
1938 The Science of Mind 4.39
1939 Arch of Triumph 4.39
1940 The Little Prince 4.23
1941 Ø¹Ø¨ÙØ±ÙØ© Ø¹ÙØ± 4.25
1942 The Little House 4.27
1943 KÃ¼rk Mantolu Madonna 4.55
1944 Ficciones 4.48
1945 The Aleph and Other Stories 4.41
1946 The Complete Stories 4.34
1947 Survival in Auschwitz 4.32
1948 King of the Wind 4.17
1949 Paroles 4.27
1950 à®ªà¯à®©à¯à®©à®¿à®¯à®¿à®©à¯ à®à¯à®²à¯à®µà®©à¯ [Ponniyin Selvan] 4.71
1951 The Foundation Trilogy (Foundation, #1-3) 4.37
1952 Holy Bible 4.55
1953 The Flight of the Feathered Serpent 4.55
1954 The Return of the King (The Lord of the Rings, #3) 4.48
1955 Les rois maudits Vols 1-7 4.44
1956 Through Gates of Splendor 4.37
1957 The Cairo Trilogy (The Cairo Trilogy #1-3) 4.46
1958 Exodus 4.31
1959 ['Life and Fate' '100 Love Sonnets'] [4.44 4.44]
1960 The Annotated Alice 4.48
1961 New World Translation of the Holy Scriptures 4.59
1962 Labyrinths 4.47
1963 The Civil War 4.58
1964 The Feynman Lectures on Physics 4.57
1965 Manchild in the Promised Land 4.3
1966 The Disorderly Knights (The Lymond Chronicles, #3) 4.57
1967 ['The Master and Margarita' 'The Forgotten Soldier'] [4.33 4.33]
1968 The Proper Role of Government 4.49
1969 Pawn in Frankincense (The Lymond Chronicles, #4) 4.64
1970 The Fortress 4.67
1971 Tutunamayanlar 4.61
1972 Le Monogramme 4.78
1973 J.R.R. Tolkien 4-Book Boxed Set 4.58
1974 The Power Broker 4.51
1975 Checkmate (The Lymond Chronicles, #6) 4.71
1976 Roots 4.39
1977 A Lover's Discourse 4.37
1978 The Best of Roald Dahl 4.38
1979 GÃ¶del, Escher, Bach 4.29
1980 Cosmos 4.35
1981 The Lord God Made Them All 4.36
1982 The Book of Disquiet 4.52
1983 Essays and Lectures 4.27
1984 Ø§ÙØ¥Ø³ÙØ§Ù Ø¨ÙÙ Ø§ÙØ´Ø±Ù ÙØ§ÙØºØ±Ø¨ 4.46
1985 Lonesome Dove 4.44
1986 The Hitchhiker's Guide to the Galaxy 4.5
1987 Calvin and Hobbes 4.61
1988 The Essential Calvin and Hobbes 4.64
1989 The Hobbit 4.48
1990 The Authoritative Calvin And Hobbes 4.7
1991 Rain of Gold 4.49
1992 The Indispensable Calvin and Hobbes 4.71
1993 Mark of the Lion Trilogy 4.75
1994 The Complete Aubrey/Maturin Novels (5 Volumes) 4.69
1995 The Calvin and Hobbes Tenth Anniversary Book 4.63
1996 Calvin and Hobbes 4.75
1997 The Song of the Lioness Quartet (Song of the Lioness, #1-4) 4.57
1998 Harry Potter Boxset (Harry Potter, #1-7) 4.73
1999 The Harry Potter Collection (Harry Potter, #1-4) 4.63
2000 Standing for Something 4.64
2001 A Storm of Swords (A Song of Ice and Fire, #3-1) 4.5
2002 Way to Be! 4.62
2003 The Complete Far Side, 1980-1994 4.66
2004 Ù¾ÛØ±Ù Ú©Ø§ÙÙ 4.58
2005 The Complete Calvin and Hobbes 4.8
2006 Warriors Boxed Set (Warriors, #1-3) 4.67
2007 ESV Study Bible 4.76
2008 The Absolute Sandman, Vol. 4 4.75
2009 Black Dagger Brotherhood 4.69
2010 The Years Distilled 4.93
2011 Family Secrets 5.0
2012 ['A Book About Absolutely Nothing.'
 'Obscured Darkness (Family Secrets #2)' "Patience's Love"
 'Abstraction In Theory - Laws Of Physical Transaction'] [5. 5. 5. 5.]
2013 Blade Heart 4.93
2014 ['An Elephant Is On My House' 'Untainted (Photographer Trilogy, #3)'] [5. 5.]